.platform-subscription__content__plans {
  & > .flex {
    flex-wrap: wrap;
    gap: 30px;
    .bimdata-card {
      flex: 1;
      &:deep(.bimdata-card__content) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3,
        h4 {
          margin: 0;
        }
        h3 {
          width: 100%;
          font-size: 40px;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            left: calc(50% / 2);
            bottom: -35px;
            width: 220.18px;
            height: 1px;
          }
        }
        h4 {
          margin-bottom: 17px;
          font-size: 30px;
          text-transform: uppercase;
        }
        button {
          margin-top: 93px;
        }
      }
      &:first-child {
        &:deep(.bimdata-card__content) {
          color: $color-primary;
        }
        h3::after {
          background: $color-tertiary;
        }
      }
      &:last-child {
        h3::after {
          background: $color-tertiary-lightest;
        }
      }
    }
  }
}
