.models-table {
  
  &__pdf-placeholder {
    width: 300px;
    height: 277px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    &__circle {
      width: 186px;
      height: 186px;
      border-radius: 50%;
      position: relative;
      background: var(--color-silver-light) url("../../../../../../public/static/modelsManager/pdfAnimation.gif") no-repeat 5% 212% / 77%;
      &__file-icon {
        position: absolute; 
        top: 152px;
        right: 26px;
      }
    } 
  
    &__content {
      font-weight: normal;
      text-align: center;
    }
  }
}