.visa-add-validator-people {
  margin: 4% auto;
  display: flex;
  &__picture {
    margin: auto var(--spacing-unit);
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 67%;
    &__main {
      font-weight: bold;
      color: var(--color-primary);
      margin: auto 0;
    }
    .hide {
      color: var(--color-silver-dark);
    }
  }

  &__acces-denied {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color-white);
    margin: auto 0 auto var(--spacing-unit);

  } 


}
