.visa-add-validator-people {
  margin: 4% auto;
  display: flex;
  align-items: center;
  &__picture {
    margin: auto var(--spacing-unit);
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    &__main {
      font-weight: bold;
      color: var(--color-primary);
      margin: auto 0;
    }
    .hide {
      color: var(--color-silver-dark);
    }
  }

  &__acces-denied {
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    margin: auto 0 auto auto;
    position: relative;


    &__hover {
      position: absolute;
      display: flex;
      align-items: center;
      background-color: var(--color-white);
      color: var(--color-primary);
      height: 100%;
      width: 250px;
      top: 1px;
      left: -260px;
    }
  } 
}
