.platform-subscription__content__billing {
  .bimdata-card__empty {
    &:deep(.bimdata-card__content) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .billing-table {
    .billing-status-cell {
      &--active,
      &--trialing,
      &--past_due,
      &--paused,
      &--deleted {
        font-weight: bold;
        text-transform: capitalize;
      }
      &--active {
        color: $color-success;
      }
      &--trialing {
        color: $color-tertiary-darkest;
      }
      &--past_due {
        color: $color-tertiary-darkest;
      }
      &--paused {
        color: $color-warning;
      }
      &--deleted {
        color: $color-high;
      }
    }
  }
}
