.user-favorites-manager {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing-unit) * 2);
  height: 100%;

  .header {
    display: flex;
    align-items: center;
    gap: var(--spacing-unit);
    font-weight: bold;

    .icon {
      align-self: baseline;
      font-size: 20px
    }

    .text {
      margin-right: auto;
    }
  }

  .bimdata-search-bar {
    min-height: 32px;
    background-color: var(--color-silver-light);

    &.focus {
      background-color: var(--color-white);
    }
  }

  .list-container {
    display: flex;
    flex-direction: column;
    padding-bottom: calc(var(--spacing-unit) / 2);
    overflow-x: hidden;
    overflow-y: auto;
  }
}