.generic-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0.9rem;
  color: var(--color-primary);
  background-color: rgba(47, 55, 74, 0.75);

  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    position: relative;
    background-color: var(--color-white);

    display: flex;
    flex-direction: column;
    align-items: center;

    &__btn-close {
      position: absolute;
      top: calc(var(--spacing-unit) / 2);
      right: calc(var(--spacing-unit) / 2);
      color: var(--color-tertiary-dark);
    }

    &__title {
      width: 100%;
      padding: calc(var(--spacing-unit) * 2);
      font-size: 1.3rem;
      font-weight: bold;
      text-align: center;
    }

    &__text {
      flex-grow: 1;
      width: 100%;
      padding: var(--spacing-unit);
      overflow-y: auto;
    }

    &__actions {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: calc(var(--spacing-unit) * 2);
      width: 100%;
      padding: calc(var(--spacing-unit) * 2);
    }
  }
}
