.file-tags-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  flex-wrap: wrap;
  height: 44px;
  &__tag {
    border-radius: 4px;

    &__text {  
      font-size: 10px;
      padding: 2px 5px;
    }
  }
}