.file-uploader {
  &__upload-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-unit);

    .file-upload-card {
      box-shadow: var(--box-shadow);
    }
  }

  &__upload-area {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(var(--spacing-unit) * 3 / 2);
    margin-top: var(--spacing-unit);
    padding: calc(var(--spacing-unit) * 3 / 2);
    border: 2px dashed var(--color-primary);
    border-radius: 8px;
    color: var(--color-granite-light);

    &__btn-close {
      position: absolute;
      top: 0;
      right: 0;
      color: var(--color-primary);
    }

    &__text {
      font-weight: bold;
    }

    &__separator {
      --separator-width: 120px;
      --text-width: 32px;
      --text-height: 16px;

      position: relative;
      height: 1px;
      width: var(--separator-width);
      background-color: var(--color-silver);
      &__text {
        position: absolute;
        top: calc(0px - var(--text-height) / 2);
        left: calc(50% - var(--text-width) / 2);
        height: var(--text-height);
        width: var(--text-width);
        text-align: center;
        background-color: var(--platform-background);
      }
    }
  }
}
