.app-header-menu {
  .bimdata-dropdown:deep() {
    .bimdata-dropdown__content {
      padding: 0;
    }

    .bimdata-dropdown__elements {
      width: 250px;
      margin-left: -27px;
    }
  }

  &__btn {
    display: grid;
    grid-template-columns: 36px auto;
    grid-template-rows: 14px 14px;
    align-items: center;
    gap: 2px 4px;
    padding: calc(var(--spacing-unit) / 2);
    text-align: left;
    width: 190px;
    &__avatar {
      grid-row: 1 / span 2;
    }

    &__fullname {
      font-weight: bold;
    }
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 12px;

    .user-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--spacing-unit);
      height: 115px;

      .user-avatar {
        margin-top: calc(var(--spacing-unit) / 2);
      }

      .user-content {
        text-align: center;
        .user-name {
          font-weight: bold;
        }
      }
    }

    .separator {
      height: 1px;
      margin: calc(var(--spacing-unit) / 2) var(--spacing-unit);
      background-color: var(--color-silver-light);
    }

    .external-link {
      text-decoration: none;
      color: inherit;
    }

    .bimdata-btn {
      justify-content: flex-start;
    }

    .btn-language {
      justify-content: space-between;
    }

    .lang-badge {
      padding: calc(var(--spacing-unit) / 6) var(--spacing-unit);
      font-weight: bold;
      border-radius: 2px;
      background-color: var(--color-silver);
      text-transform: uppercase;
    }

    .btn-logout {
      margin: calc(var(--spacing-unit) / 2) var(--spacing-unit);
      justify-content: center;
    }
  }
}
