.app-header-menu {
  .bimdata-dropdown:deep() {
    .bimdata-dropdown__content {
      padding: 0;
    }
  }

  &__btn {
    display: grid;
    grid-template-columns: 36px auto;
    grid-template-rows: 14px 14px;
    align-items: center;
    gap: 2px 4px;
    padding: $spacing-unit/2;
    text-align: left;

    &__avatar {
      grid-row: 1 / span 2;
    }

    &__fullname {
      font-weight: bold;
    }
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 12px;

    .separator {
      height: 1px;
      margin: $spacing-unit/2 $spacing-unit;
      background-color: $color-tertiary;
    }

    .bimdata-btn {
      justify-content: flex-start;
    }

    .lang-badge {
      margin-left: $spacing-unit/2;
      padding: $spacing-unit/4 $spacing-unit/2;
      border-radius: 2px;
      background-color: $color-tertiary;
      text-transform: uppercase;
    }

    .btn-logout {
      margin: $spacing-unit/2 $spacing-unit;
      justify-content: center;
    }
  }
}
