.app-header-menu {
  .bimdata-dropdown:deep() {
    .bimdata-dropdown__content {
      padding: 0;
    }
  }

  &__btn {
    display: grid;
    grid-template-columns: 36px auto;
    grid-template-rows: 14px 14px;
    align-items: center;
    gap: 2px 4px;
    padding: calc(var(--spacing-unit) / 2);
    text-align: left;

    &__avatar {
      grid-row: 1 / span 2;
    }

    &__fullname {
      font-weight: bold;
    }
  }

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 12px;

    .separator {
      height: 1px;
      margin: calc(var(--spacing-unit) / 2) var(--spacing-unit);
      background-color: var(--color-silver);
    }

    .bimdata-btn {
      justify-content: flex-start;
    }

    .lang-badge {
      margin-left: calc(var(--spacing-unit) / 2);
      padding: calc(var(--spacing-unit) / 4) calc(var(--spacing-unit) / 2);
      border-radius: 2px;
      background-color: var(--color-silver);
      text-transform: uppercase;
    }

    .btn-logout {
      margin: calc(var(--spacing-unit) / 2) var(--spacing-unit);
      justify-content: center;
    }
  }
}
