/**
 * Layout of the notification container.
 * The container can be found in <body> (see `public/index.html`).
 */
#app-notification-container {
  position: fixed;
  z-index: 300;
  top: calc(var(--platform-header-height) + var(--spacing-unit));
  right: var(--spacing-unit);
}
