.model-actions-cell {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: calc(var(--spacing-unit) * 3 / 2);

  &__btn {
    color: var(--color-granite-light);
    &:disabled {
      visibility: hidden;
    }
  }

  &__menu {
    position: absolute;
    z-index: 1;
    top: 30px;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 180px;
    padding: calc(var(--spacing-unit) / 2) 0;
    box-shadow: var(--box-shadow);
    background-color: var(--color-white);

    &__btn {
      justify-content: flex-start;
      &.bimdata-btn__ghost--default:deep() {
        color: var(--color-text);
      }
    }
  }
}
