.bcf-actions-cell {
  .bimdata-btn {
    margin: auto;
  }
  &__side-panel {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    padding: var(--spacing-unit);
    box-shadow: var(--box-shadow);
    background-color: var(--color-white);
    z-index: 99;
  }
}
