.space-users-manager {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing-unit) * 2);
  height: 100%;

  .bimdata-search-bar {
    min-height: 32px;
    background-color: var(--color-tertiary-lightest);
    &.focus {
      background-color: var(--color-white);
    }
  }

  .list-container {
    display: flex;
    flex-direction: column;
    padding-bottom: calc(var(--spacing-unit) / 2);
    overflow-x: hidden;
    overflow-y: auto;

    .invitation-card,
    .user-card {
      margin-bottom: 2px;
    }

    .user-card {
      &:hover {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      }
    }
  }
}
