.space-users-manager {
  display: flex;
  flex-direction: column;
  gap: $spacing-unit * 2;
  height: 100%;

  .bimdata-search-bar {
    background-color: $color-tertiary-lightest;
    &.focus {
      background-color: $color-white;
    }
  }

  .list-container {
    display: flex;
    flex-direction: column;
    padding-bottom: $spacing-unit/2;
    overflow-x: hidden;
    overflow-y: auto;

    .user-card {
      &:hover {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      }
    }
  }
}
