.models-delete-modal {
  &__message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__list {
      margin-right: auto;

      &__item {
        margin: calc(var(--spacing-unit) / 3) 0;
      }
    }
  }
}
