.project-groups {
  &__header {
    &__search {
      background-color: var(--color-white);
    }
  }

  &__menu {
    top: 35px;
    position: absolute;
  }

  .bimdata-responsive-grid {
    padding: calc(var(--spacing-unit) * 2) 0;
  }
}
