.files-action-bar {
  display: inline-flex;
  gap: $spacing-unit/2;
  background-color: $color-white;
  @include box-shadow;

  &__folder-selector {
    position: absolute;
    z-index: 1;
    top: calc(100% + #{$spacing-unit});
  }
}
