.conflicting-documents-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 320px;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 16px;
    background-color: var(--color-tertiary-lightest);
    border-radius: 6px;
    box-shadow: var(--box-shadow);

    &__name {
      flex: 1;
      font-size: 13px;
      color: var(--color-primary);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__info {
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    &__example {
      font-size: 11px;
      color: var(--color-granite-light);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__path {
      font-size: 11px;
    }

    &__input {
      flex: 1;
    }

    &--editing {
      background-color: var(--color-white);
    }

    &--invalid &__name {
      color: var(--color-high);
    }

    &--deleted &__name {
      color: var(--color-granite-light);
      text-decoration: line-through;
    }
  }
}
