.models-manager {
  box-shadow: var(--box-shadow);
  background-color: var(--color-silver-light);

  &__head {
    height: 44px;
    display: flex;
    align-items: center;
  }

  &__body {
    height: calc(100% - 44px);
    background-color: var(--color-white);
  }

  &__tab {
    width: 188px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-unit);
    cursor: pointer;

    opacity: 0.6;
    background-color: transparent;

    &.selected {
      opacity: 1;
      background-color: var(--color-white);
    }

    &__icon {
      width: 22px;
      height: 22px;
    }

    .beta-badge {
      height: 18px;
      // margin-left: 6px;
      padding: 2px 7px;
      border-radius: 9px;
      font-size: 10px;
      font-weight: bold;
      background-color: var(--color-secondary);
      color: var(--color-primary);
    }

    &__count {
      min-width: 18px;
      height: 18px;
      padding: 0 4px;
      line-height: 16px;
      text-align: center;
      border-radius: calc(18px / 2);
      font-size: 12px;
      background-color: var(--color-primary);
      color: var(--color-white);
    }
  }

  &__menu {
    position: relative;
    margin-left: auto;

    &__container {
      position: absolute;
      z-index: 1;
      top: 30px;
      right: 0;
      display: flex;
      flex-direction: column;
      width: 100px;
      padding: calc(var(--spacing-unit) / 2) 0;
      box-shadow: var(--box-shadow);
      background-color: var(--color-white);
    }

    &__item {
      display: flex;
      align-items: center;
      gap: var(--spacing-unit);
      padding: calc(var(--spacing-unit) / 2) var(--spacing-unit);

      &.disabled > span {
        opacity: 0.6;
      }

      &:hover:not(.disabled) {
        background-color: var(--color-silver-light);
      }
    }
  }
}
