.models-manager {
  position: relative;

  &.bimdata-card:deep() > .bimdata-card__content {
    height: calc(100% - 35px);
    padding: $spacing-unit;
  }

  &__action-bar {
    position: absolute;
    z-index: 1;
    margin-top: 8px;
    margin-left: 60px;
  }
}
