@import "./ProjectCard.vars.scss";

.project-card {
  min-width: $card-width;
  height: $card-height;

  .bimdata-card {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: visible;
    transition-duration: 0.35s;

    .project-card__action-bar {
      position: absolute;
      z-index: 2;
      top: calc(var(--spacing-unit) * 2 / 3);
      height: 0;
      padding: 0 calc(var(--spacing-unit) / 2);
    }

    .project-card__left-stripe {
      position: absolute;
      z-index: 1;
      width: 4px;
      height: 100%;

      &--new {
        background-color: var(--color-primary);
      }

      &--active {
        background-color: var(--color-success);
      }

      &--inactive {
        background-color: var(--color-silver-dark);
      }

      &--paused {
        background-color: var(--color-silver-dark);
      }
    }

    .favorite-badge {
      position: absolute;
      z-index: 2;
      top: 0;
      right: 15%;
    }

    .project-status-badge {
      position: absolute;
      z-index: 1;
      top: calc(#{$card-content-height} - var(--spacing-unit) - 24px);
      left: calc(var(--spacing-unit) + 4px);
    }

    &:deep() {
      .bimdata-card__content {
        height: $card-content-height;
        padding: 0;
        overflow: hidden;
      }

      .bimdata-card__footer {
        height: calc(100% - #{$card-content-height});
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-text);

        .project-card__title {
          width: 80%;
          text-align: center;
        }
      }
    }

    &:hover {
      cursor: pointer;
      box-shadow: var(--box-shadow-dark);
    }
  }
}

.project-card-placeholder {
  min-width: $card-width;
  width: $card-width;
  height: $card-height;
  box-shadow: var(--box-shadow);
  background-color: var(--color-silver-light);

  display: flex;
  justify-content: center;
  align-items: center;

  .bimdata-spinner {
    transform: scale(2);
  }
}
