.generic-table {
  width: 100%;
  font-size: 0.9rem;
  background-color: var(--color-white);

  &__container {
    table {
      width: 100%;
      table-layout: fixed;
      border-collapse: collapse;
      border-spacing: 0;

      tbody tr:nth-child(odd) {
        background-color: var(--color-silver-light);
      }

      th,
      td {
        min-height: calc(var(--spacing-unit) * 2);
        padding: 0 var(--spacing-unit);

        &.cell-checkbox:deep() {
          width: 42px;
          padding-left: calc(var(--spacing-unit) * 2);
          padding-right: 0;
        }
      }

      th {
        font-weight: bold;
        color: var(--color-primary);

        &.cell-sub-header {
          min-height: 0;
          padding: 0;
          text-align: left;
          font-weight: normal;
          color: var(--color-granite-lightest);
        }
      }

      td {
        color: var(--color-granite-lightest);
      }
    }

    &__placeholder {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: var(--spacing-unit);
      font-size: 1rem;
      font-weight: bold;
      // background-color: var(--color-silver-light);
    }
  }

  &__page-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: var(--spacing-unit);

    &__text {
      margin: 0 var(--spacing-unit);
    }
  }
}
