.files-manager__actions {
  display: grid;
  grid-template-columns: min(25%, var(--actions-max-width)) 1fr min(25%, var(--actions-max-width));
  grid-template-areas: "actions-start actions-middle";

  .start {
    display: flex;
    align-items: center;
    grid-area: actions-start;
    gap: 10px;
  }
  &__dropdown {
    &:deep() .bimdata-dropdown__content {
      box-shadow: var(--box-shadow);
      border: none;
      background-color: var(--color-white);

      .ghost-element {
        width: calc(var(--spacing-unit) / 5);
      }
    }
    .bimdata-textbox {
      padding: 0;
    }

    &:deep() .bimdata-dropdown__elements {
      &__menu-items {
        &__item {
          font-size: calc(var(--font-size) / 1.1);
          padding-left: var(--spacing-unit);
        }
      }
    }

    &:deep() .submenu--down {
      z-index: 3;
      width: 470%;
    }
  }

  .middle {
    display: flex;
    justify-content: center;
    grid-area: actions-middle;
  }

  &__btn-new-folder {
    z-index: 2;
    width: 48%;
  }
  &__btn-new-file {
    width: 48%;
    button {
      padding: 0 var(--spacing-unit);
    }
  }

  &__input-search {
    font-size: 1rem;
    background-color: var(--color-white);
    color: var(--color-primary);
    &.focus {
      background-color: var(--color-white);
    }
  }

  &__visa-tooltip {
    margin-left: auto;
  }

  &__visa {
    &__content {
      display: flex;
      align-items: center;
      gap: var(--spacing-unit);

      &__counter {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15px;
        height: 15px;
        border-radius: 15%;
        background-color: var(--color-high);
      }
    }
  }
}
