.free-plan-card {
  &.bimdata-card:deep(.bimdata-card__content) {
    width: 400px;
    height: 460px;
    padding: 0;

    font-size: 1rem;
    background-color: var(--color-white);
    color: var(--color-primary);
  }
}
