@import "../SpaceCard.vars.scss";

.space-card-action-menu {
  position: relative;

  &__btn {
    color: var(--color-granite-light);
  }

  &__container {
    position: absolute;
    right: 0;
    width: calc(#{$card-width} - var(--spacing-unit));
    margin-top: calc(var(--spacing-unit) / 2);
    padding: calc(var(--spacing-unit) / 2) 0;
    border-radius: 4px;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);

    &__loader {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: calc(100% - var(--spacing-unit));
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--color-white);
    }

    &__menu {
      display: flex;
      flex-direction: column;
    }
  }
}
