@import "../SpaceCard.vars.scss";

.space-card-action-menu {
  position: relative;

  &__btn {
    color: var(--color-tertiary-dark);
  }

  &__container {
    $card-menu-height: 132px;

    position: absolute;
    right: 0;
    width: calc(#{$card-width} - var(--spacing-unit));
    min-height: $card-menu-height;
    margin-top: calc(var(--spacing-unit) / 2);
    padding: calc(var(--spacing-unit) / 2) 0;
    border-radius: 4px;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);

    &__loader {
      display: flex;
      justify-content: center;
      align-items: center;
      height: calc(#{$card-menu-height} - var(--spacing-unit));
    }

    &__menu {
      display: flex;
      flex-direction: column;
    }
  }
}
