@import "./GroupMemberCard.vars.scss";

.group-member-card {
  position: relative;
  min-width: $card-width;
  width: $card-width;
  height: $card-height;
  transition-duration: 0.35s;

  &__btn-menu {
    position: absolute;
    top: calc(var(--spacing-unit) / 2);
    right: calc(var(--spacing-unit) / 2);
  }

  &__info {
    text-align: center;

    &__name {
      margin-bottom: calc(var(--spacing-unit) / 3);
      font-size: 1.1rem;
      font-weight: bold;
      color: var(--color-primary);
    }

    &__email {
      font-size: 0.9rem;
      color: var(--color-tertiary-dark);
    }
  }

  &:deep() {
    .bimdata-card__content {
      height: $card-content-height;
      padding: 0;
      overflow: hidden;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  &:hover {
    cursor: pointer;
    box-shadow: var(--box-shadow-dark);
  }
}
