@import "../group-card/GroupCard.vars.css";

.group-member-card {
  position: relative;
  min-width: var(--card-width);
  width: var(--card-width);
  height: var(--card-height);
  transition-duration: 0.35s;

  .group-member-card__btn-remove {
    position: absolute;
    top: calc(var(--spacing-unit) / 2);
    right: calc(var(--spacing-unit) / 2);
  }

  .group-member-card__info {
    text-align: center;

    .group-member-card__info__name {
      margin-bottom: calc(var(--spacing-unit) / 3);
      font-size: 1.1rem;
      font-weight: bold;
      color: var(--color-primary);
    }

    .group-member-card__info__email {
      font-size: 0.9rem;
      color: var(--color-granite-light);
    }
  }

  &:deep() {
    .bimdata-card__content {
      height: var(--card-content-height);
      padding: 0;
      overflow: hidden;

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  &:hover {
    cursor: pointer;
    box-shadow: var(--box-shadow-dark);
  }
}
