# Mac OS system files
.DS_Store

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependencies files
node_modules
# Build ouput files
/dist

# Log files
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.prod
.env.next
.env.staging
.env.local
.env.*.local
*.env

# Cypress env and output files
cypress.env.json
/tests/e2e/downloads/
/tests/e2e/screenshots/
/tests/e2e/videos/
