{
  "API_BASE_URL": "https://api.bimdata.test",
  "ARCHIVE_BASE_URL": "https://archive.bimdata.test",
  "BACKEND_BASE_URL": "https://platform-back.bimdata.test",
  "IAM_BASE_URL": "https://iam.bimdata.test",
  "LOGIN_BASE_URL": "https://connect.bimdata.test",

  "USER_FIRSTNAME": "John",
  "USER_LASTNAME": "Doe",
  "USER_EMAIL": "<your test email here>",
  "USER_PASSWORD": "<your test password here>"
}