@import "./ModelsCard.vars.scss";

.models-card {
  min-width: $card-width;
  width: $card-width;
  height: $card-height;

  &:deep() {
    .bimdata-card__brand {
      position: relative;
      top: 28px;
      z-index: 2;
      height: 0;
      padding: 0 var(--spacing-unit);
    }

    .bimdata-card__content {
      height: 100%;
      padding: 0;
    }
  }
}
