.dashboard-project-list {
  padding: var(--spacing-unit);

  &__title {
    margin-bottom: var(--spacing-unit);
    padding-left: var(--spacing-unit);
    font-size: 1.2rem;
    font-weight: bold;
  }
}
