.dashboard-project-list {
  padding: var(--spacing-unit);

  &__title {
    margin-bottom: var(--spacing-unit);
    font-size: 1.2rem;
    font-weight: bold;

    :not(.isCarousel) {
      padding-left: var(--spacing-unit);
    }
  }

  &__content {
    display: flex;
    gap: 20px;
  }
}
