.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-primary);
    opacity: 0.9;
  }
  .safe-zone {
    z-index: 1;
    &__content {
      background-color: var(--color-white);
      font-size: 1.2rem;
      text-align: center;
      color: var(--color-high);
      p {
        margin-bottom: 0;
      }
    }
    &__actions {
      height: 75px;
      justify-content: space-evenly;
      background-color: var(--color-silver-light);
      border-top: 1px solid var(--color-silver);
    }
  }
}
