.tags-main {
  width: 100%;
  height: 100%;
  padding: 0;

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-unit);

    &__header {
      display: flex;
      align-items: center;
      gap: var(--spacing-unit);

      &__left-side {
        flex-grow: 1;
        display: flex;
        margin: auto 0;

        span {
          margin: auto 0 auto calc(var(--spacing-unit) * 1.4);
          color: var(--color-primary);
          font-weight: bold;
        }
      }
    }

    &__list-add {
      display: flex;
      align-items: center;
      justify-content: space-between;

      span:first-child {
        color: var(--color-primary);
        font-size: calc(var(--spacing-unit) * 1.2);
      }

      button {
        box-shadow: var(--box-shadow);
        span {
          margin-right: var(--spacing-unit);
        }
      }

      &__input-btn {
        display: flex;
        justify-content: flex-end;
      }
    }

    &:deep() {
      .bimdata-input {
        font-size: 14px;
      }
    }

    &__search-bar {
      font-size: calc(var(--spacing-unit) * 1.3);

      &:deep() {
        svg {
          color: var(--color-primary);
        }
      }
    }

    &__tag-list {
      overflow: auto;
      overflow-x: hidden;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: calc(var(--spacing-unit) / 2);
      margin-bottom: var(--spacing-unit);
      .empty {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        span {
          color: var(--color-granite);
        }
      }
    }
  }
}
