.project-model-preview {
  // TODO
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: $platform-project-card-background;
  color: $color-primary;
  font-weight: bold;
}
