.project-model-preview {
  @include noselect;

  height: 100%;
  background-color: $platform-project-card-background;

  &__wrapper {
    width: $platform-project-card-content-height;
    height: 100%;
    margin: auto;
    overflow: hidden;

    img {
      width: auto;
      height: 100%;
    }
  }
}
