.user-card-update-form {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing-unit) / 2);
  width: 100%;
  height: 100%;

  &__input {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: calc(var(--spacing-unit) * 2);
  }

  &__btn-close {
    margin-right: calc(var(--spacing-unit) / 2);
  }
}
