.bcf-topic-overview {
  &:deep() {
    .bcf-topic-viewpoints {
      .snapshot-preview {
        position: relative;
        img {
          transition: all ease-in 0.35s;
        }
        &:hover {
          cursor: pointer;
          img {
            transform: scale(1.05);
            transition: all ease 0.35s;
            opacity: 0.9;
          }
        }
      }
    }
  }
}
