@import "./BcfTopicOverview.scss";
@import "./TopicSnapshotModal.scss";

.project-bcf {
  &__actions {
    display: flex;
    justify-content: space-between;

    &--start,
    &--end {
      position: relative;
      display: flex;
      gap: var(--spacing-unit);
    }

    &--start {
      width: 400px;
    }

    .bimdata-btn:disabled {
      background-color: var(--color-white);
      color: var(--color-silver-dark);
    }
    .bimdata-btn.active {
      background-color: var(--color-secondary);
    }
  }

  &__content {
    display: flex;
    gap: calc(var(--spacing-unit) * 2);
    padding-top: calc(var(--spacing-unit) * 2);

    &__stats {
      position: sticky;
      top: 0;
      width: 400px;
      height: 500px;
      overflow: auto;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: calc(var(--spacing-unit) * 2);

      &__title {
        height: 32px;
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
      }
    }

    &__selected-topics {
      flex: 1;
      .selected-topics {
        height: 32px;
        margin-bottom: calc(var(--spacing-unit) * 2);
        gap: 8px;
        ::v-deep .bimdata-checkbox__mark {
          width: 15px;
          height: 15px;
          &::after {
            top: 2px;
            left: 4px;
          }
        }
        & > span {
          font-size: 18px;
        }
      }
    }

    &__loader,
    &__list {
      flex: 1;
    }

    &__loader {
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;

      .bimdata-spinner {
        transform: scale(3);
      }
    }

    .no-stats {
      height: 382px;
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, 336px);
      justify-content: space-between;
      column-gap: 1%;
      row-gap: 24px;

      &__placeholder {
        display: flex;
        align-items: center;

        .bimdata-card {
          padding: 30px;
          text-align: center;

          .bimdata-card__content h3 {
            color: var(--color-primary);
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(xl) {
  .project-bcf {
    &__content {
      &__grid {
        justify-content: center;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .project-bcf {
    &__actions {
      &--start {
        width: 342px;
      }
    }

    &__content {
      &__stats {
        width: 342px;
      }
    }
  }
}
