.project-bcf {
  &__content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 308px;
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    &__metrics {
      grid-area: 1 / 1 / 2 / 3;
    }
  }
}
