.project-bcf {
  &__settings {
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    height: 100%;
    width: 500px;
    z-index: 999;
  }
  &__actions {
    & > .flex {
      position: relative;
      &:first-child {
        width: 50%;
      }
      .bimdata-tooltip:deep() {
        // @TODO adapt BIMDataTooltip for Vue 3
        .bimdata-tooltip__text {
          top: 36px !important;
          left: 35%;
        }
      }
      .bimdata-btn:enabled {
        color: var(--color-primary);
      }
      .bimdata-btn:disabled {
        background-color: var(--color-white);
        color: var(--color-silver-dark);
      }
    }
    .active:enabled {
      position: relative;
      background-color: var(--color-secondary);
    }
  }

  &__content {
    &__metrics {
      width: 22%;
      height: 100%;
      min-width: 360px;
      overflow: auto;
      position: sticky;
      top: 0%;
      p {
        font-size: 18px;
      }
    }
    &__grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, 336px);
      justify-content: space-between;
      grid-template-rows: 307px;
      gap: 1%;
      flex: 1;
    }
    &__list {
      flex: 1;
    }
    &__empty {
      width: 22%;
      height: 307px;
      background-color: var(--color-white);
      box-shadow: var(--box-shadow);
      & > .flex {
        flex-direction: column;
      }
    }
  }
}
