.folder-permission-selector {
  display: flex;
  align-items: center;
  gap: $spacing-unit/2;

  &__label {
    flex-grow: 1;
  }

  &__input {
    height: 32px;

    &:deep() {
      .bimdata-dropdown-list__content {
        padding: 0 6px;
      }
    }
  }

  &__tail {
    min-width: 100px;
  }
}
