.datapack-subscription {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1.5fr 1fr 0.5fr;
  gap: calc(var(--spacing-unit) * 4);
  grid-template-areas: ". left center right .";

  &__left,
  &__center,
  &__right {
    box-shadow: var(--box-shadow);
    background-color: var(--color-white);
  }

  &__left {
    grid-area: left;
  }

  &__center {
    grid-area: center;
  }

  &__right {
    grid-area: right;
  }
}
