.user-card-delete-guard {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing-unit) / 2);
  width: 100%;
  height: 100%;

  &__message {
    flex-grow: 1;
    text-align: center;
  }

  &__btn-close {
    margin-right: calc(var(--spacing-unit) / 2);
  }
}
