@import "../ProjectCard.vars.scss";

.project-card-model-preview {
  position: relative;
  height: 100%;
  background-color: $card-background;

  &__switcher {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin: 0 calc((100% - 100px) / 2);
    margin-top: 16px;
  }
  // @TODO - Remove this and fix width into bcf-components lib for the component to also accept percentages
  .preview-3d {
    width: 100% !important;
  }
}
