.project-card-model-preview {
  @include noselect;

  position: relative;
  height: 100%;
  background-color: $platform-project-card-background;

  &__switcher {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin: 0 calc((100% - 100px) / 2);
    margin-top: 16px;
  }

  &__viewport {
    width: $platform-project-card-content-height;
    height: 100%;
    margin: auto;
    overflow: hidden;

    img {
      width: auto;
      height: 100%;
    }
  }
}
