@import "../ProjectCard.vars.css";

.project-card-model-preview {
  position: relative;
  height: 100%;
  background-color: var(--card-background);

  .project-card-model-preview__switcher {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin: 0 calc((100% - 100px) / 2);
    margin-top: 16px;
  }
}
