.organization-spaces-import {
  height: 100%;

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing-unit) * 2);
    padding-top: var(--spacing-unit);

    .list-title {
      font-weight: bold;
    }

    .list-container {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      padding-bottom: calc(var(--spacing-unit) / 2);
      overflow-x: hidden;
      overflow-y: auto;

      .list-item {
        display: flex;
        align-items: center;

        .bimdata-checkbox {
          padding: 0 var(--spacing-unit);
        }

        .organization-import-card {
          position: relative;
          min-height: 64px;
          height: 64px;

          display: flex;
          align-items: center;

          &__image {
            width: 44px;
            height: 44px;
            margin-left: calc(var(--spacing-unit) / 2);
            padding: calc(var(--spacing-unit) / 6);
            border-radius: 4px;
            box-shadow: 0 0 10px 0 rgba(0 0 0 / 0.1);
          }

          &__info {
            flex-grow: 1;
            padding: 0 var(--spacing-unit);
            line-height: 18px;

            &__name {
              font-weight: bold;
            }

            &__data {
              font-size: 12px;
              color: var(--color-tertiary-dark);
            }
          }
        }
      }
    }

    .list-placeholder {
      height: 240px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color-tertiary-dark);
    }

    .btn-submit {
      margin: 0 calc(var(--spacing-unit) * 2);
      margin-bottom: calc(var(--spacing-unit) * 2);
    }
  }
}
