.file-name-cell {
  &__loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__update-form {
    display: flex;
    align-items: center;
    gap: $spacing-unit;

    &__input {
      flex-grow: 1;
      margin: 0;
    }

    &__btn-close {
      color: $color-tertiary-dark;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    gap: $spacing-unit/2;
    cursor: pointer;

    &__icon-folder {
      min-width: 22px;
      color: $color-primary;
    }
  }
}
