.dashboard-welcome-tile {
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 80px auto;
  grid-template-areas:
    "logo title"
    "logo message";
  gap: var(--spacing-unit);
  margin: 0 calc(var(--spacing-unit) / 2);
  color: var(--color-primary);

  &__logo {
    grid-area: logo;
    justify-self: center;
    align-self: center;
  }

  &__title {
    grid-area: title;
    align-self: end;
    font-size: 34px;
    font-weight: bold;
  }

  &__message {
    grid-area: message;
  }
}
