.generic-models-manager {
  position: relative;
  width: 100%;
  height: 100%;

  :deep(.bimdata-tabs) {
    .bimdata-tabs__container__tab {
      margin: 0 calc(var(--spacing-unit) * 3);
    }
    .bimdata-tabs__container__tab.active {
      background-color: transparent;
    }
  }

  &__tab-count {
    margin-left: var(--spacing-unit);
    padding: 0 4px;
    border-radius: 4px;
    font-size: 0.8rem;
    background-color: var(--color-primary);
    color: var(--color-white);
  }

  &__btn-add {
    position: absolute;
    right: 12px;
    top: 3px;

    span {
      margin-right: var(--spacing-unit);
    }
  }

  &__separator {
    width: 100%;
    height: 1px;
    background-color: var(--color-silver-light);
  }

  &__action-bar {
    position: absolute;
    z-index: 1;
    margin-top: 8px;
    margin-left: 60px;
  }

  &__table {
    padding: 0 var(--spacing-unit);
  }
}
