.generic-models-manager {
  position: relative;
  width: 100%;
  height: 100%;

  :deep(.bimdata-tabs) {
    .bimdata-tabs__container__tab {
      margin: 0 calc(var(--spacing-unit) * 3);
    }
    .bimdata-tabs__container__tab.active {
      background-color: transparent;
    }
  }

  &__tab-count {
    margin-left: var(--spacing-unit);
    padding: 0 4px;
    border-radius: 4px;
    font-size: 0.8rem;
    background-color: var(--color-primary);
    color: var(--color-white);
  }

  &__building-maker-btn {
    position: absolute;
    top: 3px;
    right: var(--spacing-unit);
  }

  &__building-maker { 
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 1000;
    width: 400px;
    height: 100vh;
    padding: var(--spacing-unit);
    box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--color-white);

    &__header {
      display: flex;
      justify-content: flex-end;
      height: 32px;
    }

    &__content {
      height: calc(100% - 32px);
    }
  }

  &__separator {
    width: 100%;
    height: 1px;
    background-color: var(--color-silver-light);
  }

  &__action-bar {
    position: absolute;
    z-index: 1;
    margin-top: 8px;
    margin-left: 60px;
  }

  &__table {
    padding: 0 var(--spacing-unit);
  }
}
