@import "../project-card/ProjectCard.vars.scss";

.project-creation-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $card-width;
  height: $card-height;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: $color-white;
  color: $color-primary;
  transition-duration: 0.35s;

  &__loader {
    transform: scale(2);
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: $spacing-unit;

    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      font-weight: bold;
    }
  }

  &__btn-open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 64px;
      height: 64px;
      margin: $spacing-unit * 3;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    }
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
  }
}
