.visas-table {
  .validation-tag {
    margin: auto;
    width: max-content;
    height: 25px;
    padding: 0 var(--spacing-unit);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    &.closed-visa {
      color: var(--color-granite-light);
      background-color: #ebebeb;
    }
    &.ask-visa {
      color: #205dbd;
      background-color: #e9eff8;
    }
    &.waiting-visa {
      color: #ff9100;
      background-color: #fef9ea;
    }
  }
  &__file-name {
    cursor: pointer;
  }
  &__validator {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 28px;
      height: 28px;
      border-radius: 50px;
    }
  }
  &__location {
    height: 48px;
  }
  &__status {
    margin: auto;
    padding: 0 var(--spacing-unit);
    height: 26px;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    &.success {
      background-color: #e5f7ed;
      color: var(--color-success);
    }
    &.failed {
      background-color: var(--color-high-lighter);
      color: var(--color-high);
    }
    &.sandglass {
      background-color: rgba(47, 55, 75, 0.05);
      color: var(--color-primary);
    }
    &.delay {
      background-color: #fff4e5;
      color: var(--color-warning);
      &.success {
        background-color: #e5f7ed;
        color: var(--color-success);
      }
    }
  }
  &:deep(.user-avatar-list) {
    .avatar--deny {
      border-color: var(--color-high);
    }
    .avatar--accept {
      border-color: var(--color-success);
    }
    .avatar--delay {
      border-color: var(--color-warning);
    }
    .avatar--pending {
      border-color: var(--color-white);
    }
  }
  .bimdata-btn {
    margin: auto;
  }
  .validate-visa-btn {
    color: #205dbd;
    border-color: #205dbd;
  }
}
