.group-card-color-picker {
  display: flex;
  height: 100%;
  padding: $spacing-unit $spacing-unit * 2;
  padding-right: $spacing-unit;

  &__grid {
    $item-size: 26px;

    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(5, $item-size);
    justify-content: space-between;
    row-gap: $spacing-unit;

    &__item {
      position: relative;
      width: $item-size;
      height: $item-size;
      border-radius: 3px;

      &.selected {
        &::before {
          content: "";
          position: absolute;
          top: -$spacing-unit/2;
          left: -$spacing-unit/2;
          width: 100%;
          height: 100%;
          border: $spacing-unit/2 solid rgba(0, 0, 0, 0.1);
          border-radius: 3px;
        }
      }
    }
  }

  &__side {
    width: 32px;
    margin-left: $spacing-unit/2;

    &__btn-close {
      position: relative;
      top: -$spacing-unit/4;
    }
  }
}
