.group-card-color-picker {
  display: flex;
  height: 100%;
  padding: var(--spacing-unit) calc(var(--spacing-unit) * 2);
  padding-right: var(--spacing-unit);

  &__grid {
    --item-size: 26px;

    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(5, var(--item-size));
    justify-content: space-between;
    row-gap: var(--spacing-unit);

    &__item {
      position: relative;
      width: var(--item-size);
      height: var(--item-size);
      border-radius: 3px;

      &.selected {
        &::before {
          content: "";
          position: absolute;
          top: calc(0px - var(--spacing-unit) / 2);
          left: calc(0px - var(--spacing-unit) / 2);
          width: calc(100% + var(--spacing-unit));
          height: calc(100% + var(--spacing-unit));
          border: calc(var(--spacing-unit) / 2) solid rgba(0, 0, 0, 0.1);
          border-radius: 3px;
        }
      }
    }
  }

  &__side {
    width: 32px;
    margin-left: calc(var(--spacing-unit) / 2);

    &__btn-close {
      position: relative;
      top: calc(0px - var(--spacing-unit) / 4);
    }
  }
}
