.rule-builder {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.rule-builder__empty-text {
  margin: 0;
  color: var(--color-granite);
  font-size: 13px;
}
.rule-builder__add-label {
  margin: 0;
  color: var(--color-granite-light);
  font-size: 10px;
}
.rule-builder__add-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  .rule-builder__add-button {
    flex: auto;
  }
}
.rule-builder__type-label {
  flex-shrink: 0;
  min-width: 100px;
  font-size: 12px;
  color: var(--color-primary);
}
.rule-builder__parts {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
  .rule-builder__part {
    padding: 6px 12px;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    border-radius: 6px;
    background-color: var(--color-white);
    .rule-builder__part__grip {
      display: grid;
      grid-template-columns: repeat(2, 4px);
      gap: 3px;
      margin-top: 8px;
    }
    .rule-builder__part__dot {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: var(--color-granite-light);
    }
    .rule-builder__part__body {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 8px;
      min-width: 0;
    }
    .rule-builder__part__row {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    .rule-builder__part__actions {
      display: flex;
      gap: 2px;
    }
  }
}
.rule-builder__number, .rule-builder__elements {
  height: 32px;
  padding: 0 8px;
  border: 1px solid var(--color-silver);
  border-radius: 4px;
  background-color: var(--color-white);
  color: var(--color-primary);
  font-size: 13px;
}
/* .rule-builder__select--list {
  flex-grow: 1;
} */
.rule-builder__number {
  width: 72px;
}
.rule-builder__dash {
  color: var(--color-granite);
}
.rule-builder__elements {
  width: 100%;
}