.user-role-badge {
  border-radius: 4px;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: normal;

  &--spaceAdmin {
    background-color: #fe4a23;
    color: var(--color-white);
  }
  &--projectAdmin {
    background-color: var(--color-primary);
    color: var(--color-white);
  }

  &--spaceUser {
    background-color: #a375ff;
    color: var(--color-white);
  }
  &--projectUser {
    background-color: var(--color-success);
    color: var(--color-white);
  }

  &--guest {
    background-color: var(--color-granite-light);
    color: var(--color-white);
  }
}
