.user-role-badge {
  border-radius: 4px;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: normal;

  &--space-admin {
    background-color: var(--color-primary);
    color: var(--color-white);
  }

  &--space-user {
    background-color: #a375ff;
    color: var(--color-white);
  }
  &--project-user {
    background-color: var(--color-success);
    color: var(--color-white);
  }

  &--guest {
    background-color: var(--color-granite-light);
    color: var(--color-white);
  }
}
