.file-path-cell {
  position: relative;
  height: 100%;
  width: max-content;
  display: flex;
  align-items: center;
  &__last-folder {
    height: 34px;
    max-width: 100%;
    padding: 0 var(--spacing-unit);
    border-radius: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all ease 0.25s;
    &:hover {
      background-color: rgba(47, 55, 74, 0.03);
      transition: all ease 0.25s;
    }
  }
  &__location {
    padding: 0 8px;
    width: max-content;
    min-width: 100%;
    position: absolute;
    top: 0;
    right: 0%;
    background-color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 50px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
    .folder-name {
      padding: 0 var(--spacing-unit);
      height: 40px;
      border-radius: 50px;
      cursor: pointer;
      &:hover {
        background-color: #e0eef9;
      }
    }
  }
}
