.folder-creation-form {
  padding: var(--spacing-unit);
  background-color: var(--color-white);

  display: flex;
  flex-wrap: wrap;

  &__title {
    width: 100%;
    display: flex;
    align-items: flex-end;
    gap: calc(var(--spacing-unit) / 2);
    color: var(--color-primary);
  }

  &__input {
    width: 100%;
    font-size: 1rem;
  }

  &__btn-cancel {
    margin-left: auto;
  }

  &__btn-submit {
    margin-left: var(--spacing-unit);
  }
}
