.folder-creation-form {
  padding: $spacing-unit;
  background-color: $color-white;

  display: flex;
  flex-wrap: wrap;

  &__title {
    width: 100%;
    display: flex;
    align-items: flex-end;
    gap: $spacing-unit/2;
    color: $color-primary;
  }

  &__input {
    width: 100%;
    font-size: 1rem;
  }

  &__btn-cancel {
    margin-left: auto;
  }

  &__btn-submit {
    margin-left: $spacing-unit;
  }
}
