.invoice-actions-cell {
  position: relative;
  &__menu {
    width: 240px;
    padding: calc(var(--spacing-unit) / 2) 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    top: 30px;
    right: 0;
    z-index: 1;
    a {
      height: 32px;
      text-decoration: none;
    }
  }
}
