.paddle-payment {
  &__header {
    h1 {
      margin: 0;
      width: calc(100% - 84px);
    }
    button {
      width: 84px;
    }
  }
  &__selectors {
    display: grid;
    grid-template-columns: 400px 400px;
    gap: calc(var(--spacing-unit) * 4);
  }
  &__payment {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1.5fr 1fr 0.5fr;
    gap: calc(var(--spacing-unit) * 4);
    grid-template-areas: ". left center right .";
    & > div {
      background: #ffffff;
      box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
    }
    &__left {
      grid-area: left;
    }
    &__center {
      grid-area: center;
    }
    &__right {
      grid-area: right;
    }
  }
}
