.project-files {
  display: flex;

  &__block {
    &--files {
      width: 100%;
      min-height: 560px;
      max-height: 100%;
      background-color: var(--color-white);
    }
  }

  .files-manager {
    width: 100%;
    height: 100%;
  }
}
