.project-files {
  height: 100%;

  &__content {
    width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    .files-manager {
      width: 100%;
      height: 100%;
    }
  }

  // Set files-table height and make it scrollable.
  // TODO: this is very ugly.. should find a way to do it better.
  &:deep() {
    .file-tree,
    .files-table {
      overflow: auto;
      background-color: transparent;

      /**
       * Details:
       * 100vh                             | full viewport height
       *  - var(--platform-header-height)  | platform header height
       *  - 7 * var(--spacing-unit)        | 2 * view container padding
       *  - 32px                           | view header height
       *  - 4 * var(--spacing-unit)        | 2 * project-board body padding
       *  - 38px                           | files-manager header height
       *  - 2 * var(--spacing-unit)        | 2 * files-manager content paddin
       *  - 32px                           | files-manager actions height
       *  - var(--spacing-unit)            | files-manager grid gap
       **/
      height: calc(100vh - var(--platform-header-height) - 14 * var(--spacing-unit) - 16px - 40px);

      .bimdata-table__container {
        height: 100%;
        overflow: auto;

        table thead tr th {
          position: sticky;
          top: 0;
          z-index: 1;
          background-color: #f2f2f2;
        }

        table tbody tr:nth-child(odd) {
          background-color: var(--color-white);
        }

        table td {
          border-right: 2.5px solid #f2f2f2;
        }

        /**
         * Take breadcrumb height into account to compute
         * placeholder height and avoid unnecessary scrollbar.
         **/
        &__placeholder {
          height: calc(100% - 44px - 52px) !important;
        }
      }
    }
    .files-table {
      table {
        thead {
          tr:first-child {
            z-index: 2;
            position: relative;
          }
        }
      }
      .upload-card {
        height: 48px;
        position: absolute;
        z-index: 1;
        width: 100%;
        background-color: var(--color-white);
        box-shadow: var(--box-shadow);
      }
    }
  }
}
