.app-header {
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  height: var(--platform-header-height);
  padding: 0 calc(var(--spacing-unit) * 7 / 2);
  box-shadow: var(--box-shadow);
  background-color: var(--color-white);

  &__logo {
    cursor: pointer;
    height: calc(var(--platform-header-height) - 2 * var(--spacing-unit));
  }

  &__invitation {
    position: relative;
    padding: calc(var(--spacing-unit) / 1.5);
    box-shadow: var(--box-shadow);
    margin-right: var(--spacing-unit);

    &__notif {
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: var(--color-white);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      right: 8px;
      top: 8px;

      div {
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: var(--color-high);
    
      }
    }
  }
}
