.app-header {
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  height: var(--platform-header-height);
  padding: 0 calc(var(--spacing-unit) * 7 / 2);
  box-shadow: var(--box-shadow);
  background-color: var(--color-white);

  &__logo {
    cursor: pointer;
    height: calc(var(--platform-header-height) - 2 * var(--spacing-unit));
  }

  &__fav-btn {
    margin-left: auto;
    .icon {
      font-size: 1.75rem;
    }
  }

  &__invit-btn {
    margin: 0 var(--spacing-unit);

    &__notif {
      position: absolute;
      z-index: 1;
      top: 8px;
      right: 8px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      border: 1px solid var(--color-white);
      background-color: var(--color-high);
    }
  }
}
