.app-header {
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  height: var(--platform-header-height);
  padding: 0 calc(var(--spacing-unit) * 7 / 2);
  box-shadow: var(--box-shadow);
  background-color: var(--color-white);

  &__logo {
    cursor: pointer;
    height: calc(var(--platform-header-height) - var(--spacing-unit));
  }

  &__menu {
    margin-left: auto;
  }
}
