.project-notification-timezone-choice {
  height: 100%;
  & .project-notification-timezone-choice__content {
    height: 100%;
    .timezones {
      height: calc(100% - 32px - 48px - 52px);
      overflow: auto;
    }
  }
}