.group-card-delete-guard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: var(--spacing-unit) calc(var(--spacing-unit) * 2)
    calc(var(--spacing-unit) * 2);

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: bold;
  }

  &__message {
    width: 100%;
    color: var(--color-tertiary-dark);
  }

  &__btn-submit {
    width: 100%;
  }
}
