.organization-import-success {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--spacing-unit) * 3);
  padding-top: calc(var(--spacing-unit) * 2);

  &__image {
    width: 84px;
    height: 84px;
  }

  &__title {
    width: 75%;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
  }

  &__message {
    width: 75%;
    text-align: center;
    color: var(--color-granite-light);
  }
}
