.project-action-menu {
  height: 100%;
  background-color: $color-white;

  .action-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform: scale(2);
  }

  .action-menu {
    display: flex;
    flex-direction: column;
    padding: $spacing-unit;

    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      font-weight: bold;
    }
  }
}
