.visa-add {
  border: 2px solid yellow;
  height: 100%;
  padding: var(--spacing-unit);

  &__safe-zone {
    z-index: 2;
    position: absolute;
    top: 15%;
    left: 14.5%;
  }

  &__content {
    border: 2px solid blue;
    height: 100%;

    &__header {
      display: flex;
      justify-content: space-between;
  
      &__left-side {
        display: flex;
        flex-grow: 1;
        margin: auto 0;
        
        span {
          margin: auto 0 auto var(--spacing-unit);
          font-size: 1rem;
        }
      }
    }
  
    &__validator {
      margin: calc(var(--spacing-unit ) * 2) 0;
      &__counter {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        margin-left: 2%;
        border-radius: 50%;
        background-color: white;
        color: var(--color-primary);
      }
    }
  
    &__validate-date {
      &:deep() {
        label {
          font-size: 1em;
        }
        
        .error {
          display: block;
          font-size: 1em;
          margin-top: 18px;
        }
      }
    }
  
    &__description {
      margin: calc(var(--spacing-unit ) * 3) 0;
  
      &:deep() {
        label {
          font-size: 1em;
        }
        textarea {
          font-family: var(--primary-font);
          resize: vertical; 
          max-height: 200px;
        }
      }
      .error {
        color: red;
      }
    }
  
    &__action-button {
      display: flex;
      justify-content: end;
    }
  }
  .safeZone {
    filter: blur(4px); 
  }
}