@import "~@bimdata/design-system/dist/scss/elements/_BIMDataScrollbar.scss";
@import "~@bimdata/design-system/dist/scss/_BIMDataTransitions.scss";

* {
  box-sizing: border-box;
}

html {
  font-family: $primary-font;
  font-size: $font-size;
  color: $color-primary;

  body {
    margin: 0;
    padding: 0;

    #side-panel-container {
      position: fixed;
      z-index: 200;
      top: 0;
      right: 0;
    }

    #notification-container {
      position: fixed;
      z-index: 300;
      top: $platform-header-height + $spacing-unit;
      right: $spacing-unit;
    }
  }
}
