@import '~@bimdata/design-system/dist/scss/elements/_BIMDataScrollbar.scss';

@import './animations.scss';
@import './transitions.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: $primary-font;
  font-size: $font-size;

  body {
    margin: 0;
    padding: 0;
  }
}
