@import "@bimdata/design-system/src/assets/css/design-system.css";

:root {
  --platform-header-height: 62px;
  --platform-background: #f2f2f2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: var(--primary-font);
  font-size: var(--font-size);
  color: var(--color-primary);

  body {
    margin: 0;
    padding: 0;
  }
}
