@use "sass:map";

@mixin noselect {
  -webkit-touch-callout: none; // iOS Safari
  -webkit-user-select: none; // Safari
  -khtml-user-select: none; // Konqueror HTML
  -moz-user-select: none; // Firefox
  -ms-user-select: none; // Internet Explorer/Edge
  user-select: none; // Non-prefixed version, currently supported by Chrome and Opera
}

@mixin block-card($padding: 0) {
  &.bimdata-card:deep() {
    --header-height: 38px;

    & > .bimdata-card__header {
      height: var(--header-height);
    }
    & > .bimdata-card__content {
      height: calc(100% - var(--header-height));
      padding: $padding;
    }
  }
}

/**
 * The code below is extracted from Bootstrap breakpoints mixins.
 * Doc: https://getbootstrap.com/docs/5.0/layout/breakpoints/
 * Src: https://github.com/twbs/bootstrap/blob/main/scss/mixins/_breakpoints.scss
 */

// Breakpoints map
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// Media of at most the maximum breakpoint width.
// No query for the largest breakpoint.
// Makes the @content apply to the given breakpoint and narrower.
@mixin media-breakpoint-down($name) {
  $max: map.get($breakpoints, $name);
  $max: if($max and $max > 0, $max - 0.02, null);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}
