// Import Design System variables
@import "~@bimdata/design-system/dist/scss/BIMDataVariables.scss";

$platform-header-height: 62px;
$platform-background: #f2f2f2;

// Space Card
$platform-space-card-width: 215px;
$platform-space-card-height: 275px;
$platform-space-card-content-height: 180px;
$platform-space-card-background: $color-tertiary-lightest;

// Project Card
$platform-project-card-width: 320px;
$platform-project-card-height: 261px;
$platform-project-card-content-height: 205px;
$platform-project-card-background: $color-tertiary-lightest;

// Viewer Card
$platform-viewer-card-width: 377px;
$platform-viewer-card-height: 397px;
$platform-viewer-card-content-height: 342px;
$platform-viewer-card-background: $color-tertiary;
