.project-card-delete-guard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: $spacing-unit $spacing-unit * 2 $spacing-unit * 2;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: bold;
  }

  &__message,
  &__submit-btn {
    width: 100%;
  }
}
