.files-manager {
  position: relative;
  overflow-x: hidden;

  &:deep() {
    --header-height: 38px;

    .bimdata-card__header {
      height: var(--header-height);
    }

    .bimdata-card__submenu {
      height: var(--submenu-height);
      z-index: 5;
    }

    .bimdata-card__content {
      position: relative;
      z-index: 0;
      height: calc(100% - var(--header-height));

      display: grid;
      grid-template-columns: 400px 1fr;
      grid-template-rows: 32px 1fr;
      gap: var(--spacing-unit);
      grid-template-areas:
        "actions actions"
        "tree    files";

      .files-manager__actions {
        grid-area: actions;
        display: flex;
        gap: var(--spacing-unit);

        &__btn-new-folder {
          z-index: 2;
        }

        &__input-search {
          font-size: 1rem;
          background-color: var(--color-silver-light);
          color: var(--color-primary);
          &.focus {
            background-color: var(--color-white);
          }
        }
      }

      .files-manager__tree {
        grid-area: tree;
        box-shadow: var(--box-shadow);
      }

      .files-manager__files {
        grid-area: files;
        position: relative;

        &__action-bar {
          position: absolute;
          z-index: 1;
          margin-top: 4px;
          margin-left: 48px;
        }

        &__table {
          height: 100%;
        }
      }

      .files-manager__side-panel {
        position: absolute;
        z-index: 5;
        top: 0;
        right: 0;
        width: 420px;
        height: 100%;
        box-shadow: var(--box-shadow);
        background-color: var(--color-white);
      }

      .files-manager__onboarding {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }
}
