.files-manager {
  &:deep() {
    .bimdata-card__content {
      height: calc(100% - 35px - 26px);

      display: grid;
      grid-template-columns: 400px 1fr;
      grid-template-rows: 32px 1fr;
      gap: $spacing-unit;
      grid-template-areas:
        "actions actions"
        "tree    files";

      .files-manager__actions {
        grid-area: actions;
        display: flex;
        gap: $spacing-unit;

        &__btn-new-folder {
          z-index: 2;
        }

        &__input-search {
          font-size: 1rem;
          background-color: $color-tertiary-lightest;
          &.focus {
            background-color: $color-white;
          }
        }
      }

      .files-manager__tree {
        grid-area: tree;
        @include box-shadow;
      }

      .files-manager__files {
        grid-area: files;
        position: relative;

        &__action-bar {
          position: absolute;
          z-index: 1;
          margin-top: 4px;
          margin-left: 48px;
        }

        &__table {
          height: 100%;
        }
      }
    }
  }
}
