.files-manager {
  position: relative;
  --header-height: 38px;
  --actions-height: 32px;
  --actions-max-width: 438px;
  --tree-max-width: 400px;

  position: relative;
  z-index: 0;
  height: 100%;

  &__tabs {
    .bimdata-tabs__container__tab:deep() {
      border-bottom: 1px solid #eeeeee;
    }
    &-label {
      font-size: 11px;
    }
    &-count {
      padding: 0 6px;
      min-width: 17px;
      height: 17px;
      background-color: var(--color-primary);
      color: var(--color-white);
      font-size: 10px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__content {
    padding-top: var(--spacing-unit);
    display: grid;
    grid-template-columns: min(25%, var(--tree-max-width)) 1fr;
    grid-template-rows: 1fr;
    gap: var(--spacing-unit);
    grid-template-areas: "tree    files      files";
    &__loading {
      height: 100%;
    }
  }

  .files-manager__tree {
    grid-area: tree;
  }

  .files-manager__files {
    grid-area: files;
    position: relative;

    &:deep() {
      &.bimdata-tabs {
        .bimdata-tabs__container__tab.active {
          background-color: rgba(47, 55, 74, 0.1);
        }
        .bimdata-tabs__container__tab:hover {
          background-color: rgba(47, 55, 74, 0.03);
        }
      }
    }

    &__action-bar {
      position: absolute;
      z-index: 5;
      margin-top: 48px;
      margin-left: 48px;
    }

    &.without-tree {
      grid-area: tree / tree / files / files;
    }
  }

  .files-manager__onboarding {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
