.space-size-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--spacing-unit) * 3);
  padding: calc(var(--spacing-unit) * 3) calc(var(--spacing-unit) * 4);

  &__actual-size,
  &__new-size {
    width: 100%;

    .progress-bar {
      margin-bottom: var(--spacing-unit);
    }
  }
}
