.space-size-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--spacing-unit) * 3);
  padding: calc(var(--spacing-unit) * 3) calc(var(--spacing-unit) * 4);

  &__title {
    h1 {
      margin: 0;
    }
  }

  &__image {
    margin: calc(var(--spacing-unit) * 2) 0;
  }

  &__actual-size,
  &__new-size {
    width: 100%;

    .progress-bar {
      margin-bottom: var(--spacing-unit);
    }
  }
}

.space-size-preview--horizontal {
  padding: calc(var(--spacing-unit) * 2);
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas:
    "title actual"
    "image new"
  ;
  gap: var(--spacing-unit);

  .space-size-preview__title {
    grid-area: title;
    justify-self: center;
  }
  .space-size-preview__image {
    grid-area: image;
    justify-self: center;
    margin: var(--spacing-unit);
  }
  .space-size-preview__actual-size {
    grid-area: actual;
  }
  .space-size-preview__new-size {
    grid-area: new;
  }
}
