.dashboard-info-tile {
  padding: calc(var(--spacing-unit) * 2);
  border-radius: var(--spacing-unit);
  box-shadow: var(--box-shadow);
  background-color: var(--color-white);

  &__head {
    display: flex;
    align-items: center;
    padding-bottom: var(--spacing-unit);
    border-bottom: 1px solid var(--color-silver);
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__body {
    display: grid;
    gap: var(--spacing-unit);
    padding: calc(var(--spacing-unit) * 2) var(--spacing-unit);
    color: var(--color-granite-light);
  }
}
