@use "/src/styles/mixins.scss";

.dashboard {
  --tile-width: 300px; // minimum tile width

  &__welcome {
    margin: 0 0 calc(var(--spacing-unit) * 3);
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: bold;
  }

  &__tiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--tile-width), 1fr));
    gap: calc(var(--spacing-unit) * 2);

    .app-link {
      height: 100%;
    }
  }

  &__body {
    margin: calc(var(--spacing-unit) * 4) 0 calc(var(--spacing-unit) * 2);

    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--spacing-unit) * 2);

    &__section {
      flex: 1 1 420px;
      min-width: 0;
    }
  }
}

@include mixins.media-breakpoint-down(xxl) {
  .dashboard {
    &__tiles {
      grid-template-columns: repeat(2, minmax(var(--tile-width), 1fr));
    }
  }
}

@include mixins.media-breakpoint-down(lg) {
  .dashboard {
    &__tiles {
      grid-template-columns: 1fr;
    }
  }
}
