.dashboard-view {
  display: grid;
  grid-template-rows: 25% auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "top0 top1 top2 top3"
    "main main main main"
  ;
  gap: $spacing-unit*2;
  height: calc(100% - 74px);
  padding: $spacing-unit*3;

  .block {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: $color-white;

    &.top {
      max-width: 400px;
      margin: 0 $spacing-unit/2;
      border-radius: $spacing-unit;
    }

    &.clickable {
      transition-duration: 0.35s;
      &:hover {
        transform: scale(1.02);
      }
    }
  }

  #welcome {
    grid-area: top0;
    justify-self: start;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 80px auto;
    grid-template-areas:
      "logo title"
      "logo message"
    ;
    gap: $spacing-unit;
    box-shadow: none;
    background: none;
    color: $color-primary;

    .welcome__logo {
      grid-area: logo;
      justify-self: center;
      align-self: center;
    }

    .welcome__title {
      grid-area: title;
      align-self: end;
      font-size: 34px;
      font-weight: bold;
    }

    .welcome__message {
      grid-area: message;
    }
  }

  #active-spaces {
    grid-area: top1;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    padding: $spacing-unit*2;
    background-color: $color-primary;
    color: $color-white;

    .active-spaces__title {
      font-size: $font-size*3/2;
      font-weight: bold;
    }

    .active-spaces__number {
      font-size: $font-size*3;
      font-weight: bold;
    }

    .active-spaces__text {
      align-self: end;
      text-transform: uppercase;
      .arrow-icon {
        transform: rotate(180deg);
        margin-left: $spacing-unit;
        vertical-align: text-bottom;
      }
    }
  }

  #active-projects {
    grid-area: top2;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    padding: $spacing-unit*2;
    background-color: $color-secondary;
    color: $color-primary;

    .active-projects__title {
      font-size: $font-size*3/2;
      font-weight: bold;
    }

    .active-projects__number {
      font-size: $font-size*3;
      font-weight: bold;
    }

    .active-projects__text {
      align-self: end;
      text-transform: uppercase;
      .arrow-icon {
        transform: rotate(180deg);
        margin-left: $spacing-unit;
        vertical-align: text-bottom;
      }
    }
  }

  #security {
    grid-area: top3;
    padding: $spacing-unit*2;

    .security__head {
      display: flex;
      align-items: center;
      padding: $spacing-unit;
      border-bottom: 1px solid $color-tertiary;
      font-size: $font-size*3/2;
      font-weight: bold;
      .security-icon {
        margin-left: auto;
      }
    }

    .security__body {
      display: grid;
      gap: $spacing-unit;
      padding: $spacing-unit*2 $spacing-unit;
      color: $color-tertiary-dark;
    }
  }

  #main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
