.files-delete-modal {
  position: relative;
  background-color: var(--color-white);
  &__actions {
    position: absolute;
    right: 12px;
    top: 12px;
  }
  &__header {
    font-size: 18px;
    font-weight: bold;
  }
  &__content {
    &__message {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &__list {
        width: 100%;
        margin-right: auto;

        &__item {
          margin: calc(var(--spacing-unit) / 3) 0;
        }
      }
    }
  }
  &__footer {
    gap: 24px;
  }
}
