.setting-card-item {
  position: relative;
  svg {
    cursor: pointer;
  }
  &__color {
    display: block;
    width: 19px;
    height: 19px;
    border-radius: 3px;
    border: 1px solid var(--color-silver);
    cursor: pointer;
  }
  &__color-selector {
    position: absolute;
    top: 37px;
    right: -12px;
    z-index: 1;
  }
  &__delete__safe-zone {
    width: 98%;
    height: 100%;
    position: absolute;
    gap: var(--spacing-unit);
    align-items: center;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    right: 1%;
  }
}
