.project-action-menu {
  position: relative;

  &__btn {
    color: $color-tertiary-dark;

    // Ripple effect
    &.clicked {
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $color-primary;
        transform: scale(0);
        animation-name: ripple;
        animation-duration: 0.5s;
      }
    }
  }

  &__container {
    position: absolute;
    right: 0;
    width: $platform-project-card-width - $spacing-unit;
    // min-height: 132px;
    margin-top: $spacing-unit/2;
    padding: $spacing-unit/2 0;
    border-radius: 4px;
    background-color: $color-white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);

    .action-loader {
      display: flex;
      justify-content: center;
      align-items: center;
      :deep() .bimdata-loading {
        background: transparent;
        color: $color-primary;
        &--square {
          border-color: $color-primary;
        }
      }
    }

    .action-menu {
      display: flex;
      flex-direction: column;
    }
  }
}
