.visa-add-validator {
  border: 2px solid purple;
  display: flex;
  flex-direction: column;


  &__header {
    display: flex;
    justify-content: space-between;

    &__left-side {
      display: flex;
      span {
        font-size: 1rem;
        margin-left: var(--spacing-unit);
        margin: auto 0;
      }
    }

    &__middle {
      margin: auto 0;
      color: var(--color-black);
      font-size: 1rem;
      font-weight: bold;
    }

  }
  &__search-bar {
    font-size: 1.1rem;
    margin: 5% 0;
  }
  &__people-list {
    height: 450px;
    overflow: scroll;
    overflow-x: hidden;
    padding-right: var(--spacing-unit);;
  }
  &__action {
    margin: auto 0;
  }
}
