.payment {
  height: 100%;

  &__title {
    height: 32px;
    margin: 0;
  }

  &__content {
    height: calc(100% - 32px);
    padding-top: calc(var(--spacing-unit) * 3);

    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing-unit) * 3);

    &__head {
      flex-grow: 1;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: calc(var(--spacing-unit) * 2);
    }

    &__loader {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      .bimdata-spinner {
        transform: scale(2);
      }
    }
  }
}
