.payment {
  &__title {
    margin: 0;
  }

  &__content {
    margin-top: calc(var(--spacing-unit) * 2);

    display: flex;
    justify-content: center;
    gap: calc(var(--spacing-unit) * 3);

    &__left {
      width: 400px;
      box-shadow: var(--box-shadow);
      background-color: var(--color-white);

      display: flex;
      justify-content: center;
      align-items: center;

      padding: calc(var(--spacing-unit) * 3);
    }

    &__center {
      width: 600px;
      box-shadow: var(--box-shadow);
      background-color: var(--color-white);
    }

    &__right {
      width: 400px;
      box-shadow: var(--box-shadow);
      background-color: var(--color-white);
    }
  }
}
