.payment {
  height: 100%;

  &__title {
    height: 32px;
    margin: 0;
  }

  &__content {
    height: calc(100% - 32px);
    padding-top: calc(var(--spacing-unit) * 2);

    display: grid;
    grid-template-columns: 400px minmax(auto, 600px) 400px;
    grid-template-rows: 200px minmax(0, 1fr);
    grid-template-areas:
      "top  top    top"
      "left center right";
    gap: calc(var(--spacing-unit) * 3);
    justify-content: center;

    &__block {
      box-shadow: var(--box-shadow);
      background-color: var(--color-white);
    }

    &--top {
      grid-area: top;
      display: flex;
      justify-content: center;
      gap: calc(var(--spacing-unit) * 2);
    }

    &--left {
      grid-area: left;
    }

    &--center {
      grid-area: center;
    }

    &--right {
      grid-area: right;
    }

    // margin-top: calc(var(--spacing-unit) * 2);

    // display: flex;
    // justify-content: center;
    // gap: calc(var(--spacing-unit) * 3);

    // &__left {
    //   width: 400px;
    //   box-shadow: var(--box-shadow);
    //   background-color: var(--color-white);

    //   display: flex;
    //   justify-content: center;
    //   align-items: center;

    //   padding: calc(var(--spacing-unit) * 3);
    // }

    // &__center {
    //   width: 600px;
    //   box-shadow: var(--box-shadow);
    //   background-color: var(--color-white);
    // }

    // &__right {
    //   width: 400px;
    //   box-shadow: var(--box-shadow);
    //   background-color: var(--color-white);
    // }
  }
}
