.project-overview {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--spacing-unit) * 2);

  &__block {
    &--upload {
      width: 100%;
    }

    &--overview {
      flex-grow: 1;
      height: 480px;
      background-color: var(--color-white);
    }

    &--users {
      width: 560px;
      height: 480px;
      background-color: var(--color-white);
    }

    &--models {
      width: 100%;
      height: 560px;
      background-color: var(--color-white);
    }
  }

  .models-overview,
  .models-manager,
  .project-users-manager {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 1600px) {
  .project-overview {
    &__block {
      &--overview {
        width: 100%;
      }

      &--users {
        width: 100%;
      }
    }
  }
}
