.space-board {
  height: 100%;

  &__header {
    &__search {
      background-color: var(--color-white);
    }

    &__btn-filter,
    &__btn-sort,
    &__btn-users {
      color: var(--color-granite-light);
    }
  }

  .bimdata-responsive-grid {
    padding: calc(var(--spacing-unit) * 2) 0;
  }
}
