.visa-summary {
  border: 2px solid blue;
  padding: var(--spacing-unit);
  height: 100%;
  overflow: auto;
  overflow-x: hidden;

  &__safe-zone {
    z-index: 2;
    position: absolute;
    top: 15%;
    left: 14.5%;
  }

  &__shell {

    &__header {
      border: 2px solid green;
      display: flex;
      justify-content: space-between;

      &__left-side {
        display: flex;
        flex-grow: 1;
        margin: auto 0;

        span {
          margin: auto 0 auto var(--spacing-unit);
          font-size: 1rem;
        }
      }
      &__right-side {
        display: flex;
        flex-grow: 1;
        margin: auto 0;
        justify-content: end;
      }
    }

    &__content {
      border: 2px solid orange;
      display: flex;
      flex-direction: column;
      gap: var(--spacing-unit);

      &__applicant {
        span {
          color: var(--color-primary);
          font-weight: bold;
        }
      }

      &__desc {
        &:deep() {
          textarea {
            font-size: 1rem;
            font-family: var(--primary-font);
            color: var(--color-primary);
            resize: vertical; 
          }
        }
      }

      &__deadline {
        display: flex;
        justify-content: space-between;
        &__title {
          font-size: 1rem;
          margin: auto 0;
        }
        &__date {
          color: var(--color-high);
          font-weight: bold;
        }
      }
    }

    &__action-button {
      border: 2px solid yellow;
      margin: var(--spacing-unit) auto;
      display: flex;
      justify-content: space-between;

      button {
        color: var(--color-white);
      }

      &__validate {
        width: 30%;
        &.active {
          filter: contrast(70%)
        }
      }

      &__deny {
        width: 30%;
        &.active {
          filter: contrast(70%)
        }
      }

      &__delete {
        width: 45%;
      }

      &__close {
        width: 45%;
      }
    }

    &__file {
      border: 2px solid purple;
      
      display: flex;
      align-items: center;
      background-color: var(--color-silver-light);
      height: 40px;
      img {
        margin-left: var(--spacing-unit);
      }
      span {
        margin-left: var(--spacing-unit);
        text-align: center;
        color: var(--color-black);
      }
    }

    &__validator {
      margin-top: var(--spacing-unit);
      &__header {
        display: flex;
        justify-content: space-between;
        &__title {
          font-size: 1rem;
          margin: auto 0;
        }
      }
    }

  }
  .safeZone {
    filter: blur(4px); 
  }

}
