.visa-summary {
  border: 2px solid blue;
  padding: var(--spacing-unit);
  max-height: 675px;
  overflow: scroll;
  overflow-x: hidden;

  &__header {
    border: 2px solid green;
    display: flex;
    justify-content: space-between;

    &__left-side {
      display: flex;
      flex-grow: 1;
      margin: auto 0;
      
      span {
        margin: auto 0 auto var(--spacing-unit);
        font-size: 1rem;
      }
    }
  }

  &__content {
    border: 2px solid orange;
      
    &__applicant {
      span {
        color: var(--color-primary);
        font-weight: bold;
      }
    }

    &__desc {
      font-size: 1rem;
      color: var(--color-primary);
      margin: var(--spacing-unit) auto;
    }

    &__deadline {
      display: flex;
      justify-content: space-between;
      &__title {
       font-size: 1rem;
      }
      &__date {
        color: var(--color-high);
        font-weight: bold;
      }
    }
  }

  &__action-button {
    border: 2px solid yellow;
    margin: var(--spacing-unit) auto;
    display: flex;
    justify-content: space-between;
    
    button {
      color: var(--color-white);
      width: 30%;
    }
    
  }

  &__file {
    border: 2px solid purple;

    display: flex;
    align-items: center;
    background-color: var(--color-silver-light);
    height: 40px;
    img {
      margin-left: var(--spacing-unit);
    }
    span {
      margin-left: var(--spacing-unit);
      text-align: center;
      color: var(--color-black);
    }
  }

  &__validator {
    margin-top: var(--spacing-unit);
    &__title {
      font-size: 1rem;
    }    
  }
}
