@import "../space-card/SpaceCard.vars.css";

.space-creation-card {
  position: relative;
  width: var(--card-width);
  height: var(--card-height);
  box-shadow: bvar(--box-shadow);
  color: var(--color-primary);

  &:deep() {
    .bimdata-card__submenu {
      height: calc(var(--spacing-unit) * 4);
      box-shadow: none;
      font-size: 1.05rem;
      font-weight: bold;
    }

    .bimdata-card__content {
      height: calc(100% - var(--spacing-unit) * 4);
      font-size: 1rem;

      .action-loader {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        .bimdata-spinner {
          transform: scale(2);
        }
      }

      .creation-form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        padding: var(--spacing-unit);
      }
    }
  }
}
