.versioning-main {
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;

  &__safe-zone {
    z-index: 2;
    position: absolute;
    top: 2.5%;
    left: 3.5%;
  }
  
  &__content {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing-unit) * 2);

    &__header {
      display: flex;
      align-items: center;
      gap: var(--spacing-unit);
  
      &__left-side {
        display: flex;
        flex-grow: 1;
        margin: auto 0;

        span {
          margin: auto 0 auto calc(var(--spacing-unit) * 1.4);
          color: var(--color-primary);
          font-weight: bold;
        }
      }
    }

    &__empty-area {
      display: flex;
      
      &__info {
        margin: 115px auto auto auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: calc(var(--spacing-unit) * 2);

        img {
          width: 35%
        }

        span {
          width: 70%;
          font-size: var(--font-size);
          text-align: center;
        }
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: calc(var(--spacing-unit) * 2.5);
    }
  }
  
  .safeZone {
    filter: blur(4px); 
  }
}
