@import "../models-card/ModelsCard.vars.scss";

.model-location {
  position: relative;
  flex-grow: 1;
  height: $card-height;
  background-color: var(--color-silver-light);

  &__map {
    width: 100%;
    height: 100%;

    &__edit-btn {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
    }
  }

  &__empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(var(--spacing-unit) * 3);
    width: 100%;
    height: 100%;
    border: 2px dashed var(--color-primary);
    background-color: var(--color-white);
    color: var(--color-primary);
  }

  &__loader {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-silver-light);

    .bimdata-spinner {
      transform: scale(2);
    }
  }
}
