@import "./SpaceCard.vars.scss";

.space-card {
  width: $card-width;
  height: $card-height;
  transition-duration: 0.35s;
  overflow: visible;

  &:deep() {
    .bimdata-card__submenu {
      position: relative;
      top: calc(var(--spacing-unit) * 2);
      z-index: 1;
      height: 0;
      padding: 0 calc(var(--spacing-unit) / 2);
    }

    .bimdata-card__content {
      overflow: hidden;
      height: $card-content-height;
      padding: 0;
    }

    .bimdata-card__footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: calc(100% - #{$card-content-height});
      padding: 0;

      .text-box {
        color: var(--color-text);
      }

      .title-underline {
        height: 1px;
        width: 50px;
        margin: calc(var(--spacing-unit) * 2 / 3) 0;
        background-color: var(--color-silver);
      }

      .sub-title {
        text-align: center;
        line-height: 14px;

        &__text {
          font-size: 10px;
          color: var(--color-granite-light);
        }

        &__number {
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
  }

  &:hover {
    cursor: pointer;
    box-shadow: var(--box-shadow-dark);
    .space-card-image {
      transform: translateY(calc(var(--spacing-unit) / 3)) scale(1.04);
    }
  }
}
