@import "./SpaceCard.vars.scss";

.space-card {
  width: $card-width;
  height: $card-height;
  transition-duration: 0.35s;

  &:deep() {
    .bimdata-card__submenu {
      position: relative;
      top: $spacing-unit * 2;
      z-index: 1;
      height: 0;
      padding: 0 $spacing-unit/2;
    }

    .bimdata-card__content {
      overflow: hidden;
      height: $card-content-height;
      padding: 0;
    }

    .bimdata-card__footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: calc(100% - #{$card-content-height});
      padding: 0;

      .title-underline {
        height: 1px;
        width: 50px;
        margin: $spacing-unit * 2/3 0;
        background-color: $color-tertiary;
      }

      .sub-title {
        text-align: center;
        line-height: 14px;

        &__text {
          font-size: 10px;
          color: $color-tertiary-dark;
        }

        &__number {
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    .space-card-image {
      transform: translateY($spacing-unit/3) scale(1.04);
    }
  }
}
