.model-status-badge {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  margin: $spacing-unit/2;

  &__tooltip {
    position: absolute;
    z-index: 1;
    top: -$spacing-unit/2;
    left: calc(100% + #{$spacing-unit}/ 2);
    width: 160px;
    border-radius: 2px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: $color-white;

    &__message {
      padding: $spacing-unit/2;
      word-wrap: break-word;
      font-size: 0.8rem;
    }
  }

  &--pending,
  &--in-progress {
    color: $color-neutral;
  }

  &--completed {
    color: $color-success;
  }

  &--warning {
    color: $color-warning;

    .model-status-badge__tooltip--warnings {
      display: none;
    }
    &:hover {
      .model-status-badge__tooltip--warnings {
        display: block;
      }
    }
  }

  &--error {
    color: $color-high;

    .model-status-badge__tooltip--errors {
      display: none;
    }
    &:hover {
      .model-status-badge__tooltip--errors {
        display: block;
      }
    }
  }
}
