ul {
  display: flex;
  align-items: center;
  gap: 6px;
  flex-wrap: wrap;
  font-size: 12px;
  .tag {
    background: var(--color-silver);
    border-radius: 3px;
    color: var(--color-granite);
    svg {
      cursor: pointer;
    }
  }
}
