.visa-comment-post-actions {
  position: relative;
  background-color: var(--color-white);

  &__btn {
    color: var(--color-granite-light);
  }

  &__delete {
    position: absolute;
    padding: 0 var(--spacing-unit);
    height: 70px;
    width: max-content;
    display: flex;
    gap: var(--spacing-unit);
    align-items: center;
    justify-content: flex-end;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    right: 10px;
    z-index: 1;

    span {
      color: var(--color-primary);
    }

    &__reply {
      width: 325px;

      button:first-of-type {
        margin-left: 23px;
      }
    }
  }
}
