.platform-header {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-unit;
  padding: $spacing-unit/2 $spacing-unit*2;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: $color-white;

  &__logo {
    cursor: pointer;
  }

  &__user-menu {
    margin-left: auto;
  }
}