.platform-header {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  height: $platform-header-height;
  padding: 0 $spacing-unit * 7/2;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: $color-white;

  &__logo {
    cursor: pointer;
    height: $platform-header-height - $spacing-unit;
  }

  &__user-menu {
    margin-left: auto;
  }
}
