.flipable-card {
  perspective: 800px;

  .card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;

    &__face {
      position: absolute;
      height: 100%;
      width: 100%;
      backface-visibility: hidden;

      &--front {
        // No transform
        z-index: 1;
      }

      &--back {
        transform: rotateY(180deg);
        z-index: 0;
      }
    }

    &.flipped {
      transform: rotateY(180deg);

      &__face {
        &--front {
          z-index: 0;
        }

        &--back {
          z-index: 1;
        }
      }
    }
  }
}
