.file-actions-cell {
  position: relative;
  display: flex;
  justify-content: center;

  &__btn {
    color: var(--color-granite-light);
  }

  &__menu {
    position: absolute;
    z-index: 1;
    top: 30px;
    right: 0;
    padding: calc(var(--spacing-unit) / 2) 0;

    &.bimdata-menu {
      &:deep() {
        .bimdata-menu__item__content {
          padding: 0;
          .bimdata-btn {
            justify-content: flex-start;
          }
        }
      }
    }
  }
}
