@import "../group-card/GroupCard.vars.css";

.group-member-selection-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--card-width);
  height: var(--card-height);
  box-shadow: var(--box-shadow);
  background-color: var(--color-white);
  color: var(--color-primary);
  cursor: pointer;
  transition-duration: 0.35s;

  &:hover {
    box-shadow: var(--box-shadow-dark);
  }
}
