.bcf-filters {
  .btn-color-granite-light:enabled {
    color: var(--color-primary);
  }
  .btn-color-granite-light:disabled {
    background-color: var(--color-white);
    color: var(--color-silver-dark);
  }
  &__container {
    width: 100%;
    position: absolute;
    left: 0;
    top: calc(32px + 12px);
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    z-index: 1;
    &__header {
      &__title {
        font-size: 12px;
        font-weight: 700;
      }
    }
    &__date {
      p {
        font-size: 11px;
      }
    }
  }
}
