.file-tree {
  padding: var(--spacing-unit);

  &:deep() {
    .file-tree-node {
      &__node {
        position: relative;
        display: flex;
        align-items: center;
        gap: calc(var(--spacing-unit) * 2 / 3);
        margin: calc(var(--spacing-unit) * 2 / 3) 0;
        color: var(--color-primary);
        cursor: pointer;

        &__background {
          position: absolute;
          z-index: 0;
          left: calc(0px - var(--spacing-unit));
          width: calc(100% + var(--spacing-unit) * 2);
          height: 26px;
          background-color: var(--color-tertiary);
          opacity: 0;
          transition: opacity 0.2s ease-out;
        }

        &__name,
        &__icon-arrow,
        &__icon-folder {
          position: relative;
          z-index: 1;
        }

        &__icon-arrow {
          min-width: 13px;
        }
        &__icon-folder {
          min-width: 18px;
        }
        &__name {
          @include noselect;
          align-self: flex-end;
          &:hover {
            z-index: 2;
          }
        }
      }

      &__node.selected {
        .file-tree-node__node__background {
          opacity: 0.4;
        }
      }

      &__node:hover:not(.selected) {
        .file-tree-node__node__background {
          opacity: 0.3;
        }
      }
    }
  }
}
