.user-avatar-list {
  display: grid;

  &__item {
    border: 2px solid;
  }

  &__tail-item {
    min-width: 32px;
    min-height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-white);
    border-radius: 50%;
    font-weight: bold;
    background-color: var(--color-primary);
    color: var(--color-silver-light);
    z-index: 1;
  }
}
