.invoice-actions-cell {
  position: relative;

  &__menu {
    position: absolute;
    z-index: 1;
    top: 30px;
    right: 0;

    min-width: 180px;
    padding: calc(var(--spacing-unit) / 2) 0;
    box-shadow: var(--box-shadow);
    background-color: var(--color-white);

    display: flex;
    flex-direction: column;

    .bimdata-btn {
      justify-content: flex-start;
    }
  }
}
