.models-overview {
  &.bimdata-card {
    overflow: hidden;

    &:deep() > .bimdata-card__content {
      display: flex;
      align-items: center;
      gap: 12px;
      height: calc(100% - 37px);
      padding: $spacing-unit * 2;
    }
  }
}
