.models-overview {
  @include block-card($padding: calc(var(--spacing-unit) * 2));

  &.bimdata-card {
    // overflow: hidden;

    &:deep() > .bimdata-card__content {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }
}
