.space-creation-card {
  width: 215px;
  height: 275px;
  margin: $spacing-unit*2;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);

  & /deep/ {
    .bimdata-card__submenu {
      height: $spacing-unit*4;
      box-shadow: none;
      font-size: 1.05rem;
      font-weight: bold;
    }

    .bimdata-card__content {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: calc(100% - #{$spacing-unit*4});
      padding: $spacing-unit;
    }
  }
}
