.space-creation-card {
  width: $platform-project-card-width;
  height: $platform-space-card-height;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  color: $color-primary;

  &:deep() {
    .bimdata-card__submenu {
      height: $spacing-unit*4;
      box-shadow: none;
      font-size: 1.05rem;
      font-weight: bold;
    }

    .bimdata-card__content {
      height: calc(100% - #{$spacing-unit*4});
      font-size: 1rem;

      .action-loader {
        display: flex;
        justify-content: center;
        align-items: center;
        .bimdata-loading {
          background: transparent;
          color: $color-primary;
          &--square {
            border-color: $color-primary;
          }
        }
      }

      .creation-form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        padding: $spacing-unit;
      }
    }
  }
}
