.subscription-datapack {
  position: relative;
  height: 100%;

  &__title {
    height: 32px;
    margin: 0;
  }

  &__content {
    height: calc(100% - 32px);
    padding-top: calc(var(--spacing-unit) * 2);

    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing-unit) * 3);

    &__head {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: calc(var(--spacing-unit) * 2);
    }

    &__body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: calc(var(--spacing-unit) * 3);
    }
  }

  &__loader {
    --view-container-padding: var(--spacing-unit) * 7 / 2;

    position: absolute;
    z-index: 51; // This is to overlay view-header (which has z-index: 50)
    top: calc(0px - var(--view-container-padding));
    left: calc(0px - var(--view-container-padding));
    width: calc(100% + var(--view-container-padding) * 2);
    height: calc(100% + var(--view-container-padding) * 2);
    background-color: rgba(255 255 255 / 0.6);

    display: flex;
    justify-content: center;
    align-items: center;

    .bimdata-spinner {
      transform: scale(3);
    }
  }
}
