.app-modal {
  &__overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(47, 55, 74, 0.75); // primary, alpha = 0.75

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
