.bcf-topics-metrics {
  &__content {
    position: relative;
    &__total {
      position: absolute;
      top: 107px;
      left: 107px;
      flex-direction: column;
      line-height: 1;
      strong {
        font-size: 20px;
      }
    }
    &__legend {
      min-width: 200px;
      flex-direction: column;
      font-size: 14px;
    }
  }
}
