.bcf-topics-metrics {
  height: 100%;
  &__loading {
    height: 100%;
  }
  &__content {
    position: relative;
    &__total {
      width: 100%;
      position: absolute;
      top: calc((245px / 2) - (32px / 2));
      left: 0;
      flex-direction: column;
      line-height: 1;
      strong {
        font-size: 20px;
      }
    }
    &__legend {
      min-width: 200px;
      flex-direction: column;
      font-size: 14px;
    }
  }
}
