.bcf-topics-metrics {
  height: 100%;
  &__content {
    position: relative;
    height: inherit;
    .bimdata-graph {
      flex: 1;
    }
    &__legend {
      height: 100%;
      max-width: 300px;
      flex-wrap: wrap;
      flex: 1;
      gap: 12px;
      flex-direction: column;
      font-size: 14px;
      overflow: auto;
      span > span {
        font-size: 13px;
      }
    }
  }
}
