.invitation-card {
  display: flex;
  align-items: center;
  min-height: 64px;
  height: 64px;
  font-size: 1rem;
  color: var(--color-primary);

  &__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: var(--color-white);
  }

  &__info {
    flex-grow: 1;
    padding: 0 var(--spacing-unit);
    line-height: 18px;

    &__email {
      font-weight: bold;
    }

    &__text {
      font-size: 12px;
      color: var(--color-granite-light);

      a {
        cursor: pointer;
        font-style: italic;
        text-decoration: underline;
        color: var(--color-primary);
      }
    }
  }

  &__cancel-btn {
    color: var(--color-granite-light);
  }
}
