.group-import {
  position: relative;
  &__button {
    width: 200px;
    padding: 6px 12px;
  }

  &__menu {
    top: 35px;
    position: absolute;
    margin-bottom: 6px;
    overflow: auto;
    &:deep().bimdata-menu__item__content {
      justify-content: space-between;
    }
    .warning {
      &:deep().bimdata-textbox {
        color: var(--color-silver-dark);
      }
    }
    .submenu {
      width: 100%;
      left: -200px;
      &__item {
        height: 29px;
        &:hover {
          background-color: var(--color-silver-light);
        }
      }
    }
    &--empty {
      width: 100%;
      background-color: var(--color-white);
    }
  }

  &__children {
    position: relative;

    &__no-child {
      position: fixed;
      background-color: white;
      width: 200px;
      right: 242px;
      height: 29px;
      margin: 20px 0 0 0;
      padding: 0 0 50px 0;
      box-shadow: var(--box-shadow);

      &__content {
        display: flex;
        position: absolute;
        align-items: center;
        top: -2px;
        gap: var(--spacing-unit);
        color: var(--color-high);
        padding: var(--spacing-unit);
      }
    }

    &__menu {
      &__header {
        display: flex;
        position: relative;
        align-items: center;
        flex-direction: column;
        height: 38px;
        margin-bottom: 6px;

        &__content {
          display: flex;
          align-items: center;
          width: 100%;
          height: 100%;

          &--checkbox {
            width: 14px;
          }

          &:hover {
            cursor: pointer;
            background-color: var(--color-silver-light);
          }
        }

        &__divider {
          width: 88%;
          height: 2px;
          margin-top: 6px;
          background-color: var(--color-silver-light);
        }
      }

      &__item {
        &--checkbox {
          width: 14px;
        }
      }

      &--footer {
        margin: 6px auto 0px;
      }
    }
  }
}
