.files-manager-onboarding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(var(--spacing-unit) * 2);
  height: 100%;

  &__actions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--spacing-unit);
    width: 30%;
    max-width: 475px;

    &__dropdown {
      border-radius: 3px;
      height: 32px;
      span {
        color: var(--color-primary);
        margin-right: calc(var(--spacing-unit) / 2);
      }

      &:deep() {
        .bimdata-dropdown__content {
          box-shadow: var(--box-shadow);
          border: none;
        }

        .submenu {
          width: 103%;
          left: -2px;
          font-size: calc(var(--font-size) / 1.1);
          padding-bottom: var(--spacing-unit);
          color: var(--color-primary);
          border: none;

          ul {
            overflow: auto;

            li {
              padding-left: var(--spacing-unit);
            }
          }
        }
      }
    }
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: var(--spacing-unit);
    background-color: rgba(255, 255, 255, 0.5);

    &__uploads {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-unit);
      margin: calc(var(--spacing-unit) * 2);

      .file-upload-card {
        box-shadow: var(--box-shadow);
      }
    }

    &__folder-form {
      position: relative;
      top: 33%;
      left: 50%;
      transform: translateX(-50%);
      width: 440px;
      padding: var(--spacing-unit);
      box-shadow: var(--box-shadow);
    }
  }
}
