.files-manager-onboarding {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(var(--spacing-unit) * 2);
  height: 100%;

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-unit);
    max-height: 72px;

    &__base {
      display: flex;
      justify-content: center;
      gap: var(--spacing-unit); 
    }

    &__enhanced {
      &__dropdown {
        width: 300px;

        &:deep(.submenu) {
          left: -2px;
          font-size: calc(var(--font-size) / 1.1);
          padding-bottom: var(--spacing-unit);
          border: none;

          &:first-child {
            overflow: visible;
          }
        }
      }
    }
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: var(--spacing-unit);
    background-color: rgba(255, 255, 255, 0.5);

    &__uploads {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-unit);
      margin: calc(var(--spacing-unit) * 2);

      .file-upload-card {
        box-shadow: var(--box-shadow);
      }
    }

    &__folder-form {
      position: relative;
      top: 33%;
      left: 50%;
      transform: translateX(-50%);
      width: 440px;
      padding: var(--spacing-unit);
      box-shadow: var(--box-shadow);
    }
  }
}
