.versioning-safe-zone {
  width: 390px;
  height: 300px;

  &__content {
    height: 60%;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.2rem;
    text-align: center;
    color: var(--color-high)
  }

  &__action {
    height: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-silver-light);
  }


}