.billing-actions-cell {
  position: relative;

  &__menu {
    padding: calc(var(--spacing-unit) / 2) 0;
    position: absolute;
    z-index: 1;
    top: 30px;
    right: 0;
    text-align: left;
  }
}
