.billing-actions-cell {
  position: relative;

  &__menu {
    position: absolute;
    z-index: 1;
    top: 30px;
    right: 0;

    min-width: 180px;
    padding: calc(var(--spacing-unit) / 2) 0;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);

    display: flex;
    flex-direction: column;

    a {
      height: 32px;
      justify-content: flex-start;
      text-decoration: none;
    }
  }
}
