.model-status-cell {
  margin: auto;
  padding: 0 var(--spacing-unit);
  height: 26px;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;

  .status-icon {
    margin-right: 3px;
    border-radius: 50px;
    width: 8px;
    height: 8px;
    background-color: currentColor;
  }

  &--pending,
  &--in-progress {
    background-color: #e2e3e6;
    color: var(--color-primary);
  }

  &--completed {
    background-color: #dbf4e6;
    color: var(--color-success);
  }

  &--warning {
    background-color: #fff0db;
    color: var(--color-warning);
  }

  &--error {
    background-color: #ffe4df;
    color: var(--color-high);
  }
}
