.recent-projects-list {
  &__title {
    padding: $spacing-unit/2 $spacing-unit;
    font-weight: bold;
  }

  &__content {
    display: flex;
    gap: $spacing-unit * 2;
    padding: $spacing-unit;
    overflow-x: auto;
  }
}
