.model-viewer {
  &__header {
    &__separator {
      width: 0px;
      height: 28px;
      border: 0.5px solid var(--color-primary);
      margin: 0 var(--spacing-unit) 0 calc(var(--spacing-unit) * 2);
    }
  }
}
