.visa-list {
  height: 100%;
  padding: var(--spacing-unit);
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    justify-content: space-between;

    &__left-side {
      display: flex;
      flex-grow: 1;
      margin: auto 0;
      
      span {
        margin: auto 0 auto var(--spacing-unit);
        font-size: 1rem;
      }
    }
  }

  &__content {
    overflow: scroll;
    overflow-x: hidden;
    &__visa {
      display: flex;
      margin: var(--spacing-unit);
      cursor: pointer;
      &__desc {
        margin-left: var(--spacing-unit);
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;
        &__title {
          color: var(--color-primary);
          font-size: 1rem;
        }
        
      }
    }
  }

}