.visa-summary-validator {
  display: flex;
  justify-content: space-between;
  margin: 4% auto;
  border-radius: 3px;
  height: 40px;
  background-color: var(--color-silver-light);

  &__left-side {
    display: flex;
    align-items: center;
    margin-left: var(--spacing-unit);
    width: 45%;

    &__name {
      margin-left: var(--spacing-unit);
      font-weight: bold;
    }
  }

  &__right-side {
    display: flex;
    margin: auto var(--spacing-unit) auto 0;
    align-items: center;
    font-size: 1rem;

    span {
      margin: auto var(--spacing-unit) auto 0;
    }

    &__P {
      display: flex;
      color: var(--color-primary);

    }
    &__A {
      display: flex;
      color: var(--color-success);
    }
    &__D {
      display: flex;
      color: var(--color-high);
    }

    &__access-denied {
      position: relative;
      display: flex;
      justify-content: flex-end; 
      box-shadow: var(--box-shadow);
      right: -12px;

      svg {
        padding: 10px;
        z-index: 3;
      }

      &__hover {
        position: absolute;
        z-index: 2;
        height: 100%;
        width: 340px;
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        background-color: var(--color-silver-light);
        box-shadow: var(--box-shadow);
        color: var(--color-primary);

        span {
          margin-left: var(--spacing-unit);
          width: 230px;
        }
      } 

      &.author {
        right: -8px;
        .visa-add-summary-user__right-side__access-denied__hover {
          right: -36px;
          width: 345px;
       }
      }

      &.author.closed {
        right: -13px;

        .visa-add-summary-user__right-side__access-denied__hover {
          right: 20px;
          width: 307px;
       }
      }
    }
  }
}
