.user-spaces {
  &__header {
    &__search {
      background-color: var(--color-white);
    }

    &__btn-sort {
      color: var(--color-tertiary-dark);
    }
  }

  .bimdata-responsive-grid {
    padding: calc(var(--spacing-unit) * 2) 0;
  }
}
