.project-card-action-bar {
  display: flex;
  width: 100%;
  padding-left: calc(var(--spacing-unit) / 3);

  &__btn {
    color: var(--color-granite-light);

    &:disabled {
      color: var(--color-silver);
    }
  }

  .action-menu {
    margin-left: auto;
  }
}
