.project-card-action-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: calc(var(--spacing-unit) / 3);

  &__action-btn {
    color: var(--color-tertiary-dark);

    &:disabled {
      color: var(--color-tertiary);
    }
  }
}
