.project-users-manager {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: var(--color-white);
  overflow: hidden;

  &__header {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing-unit) / 2);
    height: 64px;
    padding: 0 calc(var(--spacing-unit) * 2);
    color: var(--color-primary);
    font-size: 16px;
    font-weight: bold;

    &__title {
      line-height: 1;
    }

    &__count {
      color: var(--color-granite-light);
      font-weight: 400;
    }

    &__actions {
      display: flex;
      align-items: center;
      gap: calc(var(--spacing-unit) / 2);
      margin-left: auto;
    }
  }

  &__list-container {
    flex: 1 1 auto;
    min-height: 0;
    overflow-x: hidden;
    overflow-y: auto;

    .bimdata-search-bar {
      min-width: calc(100% - var(--spacing-unit) * 2);
      margin: var(--spacing-unit);
      font-size: 1rem;
      background-color: var(--color-silver-light);

      &.focus {
        background-color: var(--color-white);
      }
    }

    .invitation-form {
      padding: var(--spacing-unit);
    }

    .invitation-card {
      padding: 0 calc(var(--spacing-unit) * 2);
      border-bottom: 1px solid var(--color-silver-light);
    }

    .user-card {
      padding: 0 var(--spacing-unit);
      &:hover {
        background-color: var(--color-silver-light);
      }
    }
  }
}
