@import "../ModelsCard.vars.scss";

.models-card-model-preview {
  @include noselect;

  position: relative;
  height: 100%;
  background-color: $card-background;

  &__head {
    position: absolute;
    z-index: 2;
    top: var(--spacing-unit);
    right: calc(var(--spacing-unit) / 2);
    min-height: 32px;

    display: flex;
    align-items: center;
    gap: calc(var(--spacing-unit) / 2);

    &__index {
      font-size: 14px;
    }

    &__menu {
      .bimdata-menu {
        position: absolute;
        bottom: calc(0px - 100% - 2 * var(--spacing-unit));
        right: 0;
      }
    }
  }

  &__icon {
    position: absolute;
    bottom: 60px;
    right: calc(var(--spacing-unit) / 2);
  }

  &__viewer {
    margin: auto;
  }

  &__placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $card-content-height;
    padding: calc(var(--spacing-unit) * 2);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: var(--color-granite-light);
  }

  &__switcher {
    display: flex;
    align-items: center;
    height: calc(100% - #{$card-content-height});
    padding: var(--spacing-unit);
    font-size: 12px;
    background-color: var(--color-white);
    color: var(--color-text);

    &__text {
      width: calc(#{$card-width} - 2 * var(--spacing-unit) - 72px);
    }

    &__btn-prev {
      margin-left: auto;
    }
  }
}
