@import "../ModelsCard.vars.scss";

.models-card-model-preview {
  @include noselect;

  position: relative;
  height: 100%;
  background-color: $card-background;

  &__index {
    position: absolute;
    z-index: 2;
    top: 20px;
    right: 20px;
    font-size: 14px;

    &__preview-icon {
      position: absolute;
      right: calc(var(--spacing-unit) / 2);
      bottom: 60px;
    }
  }

  &__viewer {
    margin: auto;
  }

  &__placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $card-content-height;
    padding: calc(var(--spacing-unit) * 2);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: var(--color-granite-light);
  }

  &__switcher {
    display: flex;
    align-items: center;
    height: calc(100% - #{$card-content-height});
    padding: var(--spacing-unit);
    font-size: 12px;
    background-color: var(--color-white);
    color: var(--color-text);

    &__text {
      width: calc(#{$card-width} - 2 * var(--spacing-unit) - 72px);
    }

    &__btn-previous {
      margin-left: auto;
    }
  }
}
