.invitation {
  display: flex;
  height: 100%;
  
  &__back-btn {
    flex: 1;
  }

  &__content {
    flex: 2;
    display: flex;
    gap: 30px;
    flex-direction: column;
    max-width: 800px;

    span {
      padding-top: calc(var(--spacing-unit) / 1.5);
    }

    &__header {
      display: flex;
      justify-content: space-between;

      &__counter {
        color: var(--color-granite-light);
      }
    }

    &__list {
      display: flex;
      padding: calc(var(--spacing-unit) /2);
      overflow: auto;
      flex-direction: column;
      gap: var(--spacing-unit);

      &__invit {
        display: flex;
        align-items: center;
        padding: 0 calc(var(--spacing-unit) / 0.9);
        border-left: 2px solid var(--color-secondary);
        box-shadow: var(--box-shadow);


        &__text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 80px;
          width: 60%;
          margin-left: var(--spacing-unit);

          span {
            padding: 0;
          }

          &__invited-by {
            font-size: 0.9rem;
            color: var(--color-granite-light);

            &__highlight {
              font-weight: 900;
              color: var(--color-primary);
            }
          }

          &__invited-status-D, &__invited-status-A, &__invited-status-P {
            font-size: 0.8rem;
            font-style: italic;
          }

          &__invited-status-D {
            color: var(--color-high);
          }

          &__invited-status-A {
            color: var(--color-success);
          }
        }

        &__button {
          margin-left: auto;

          &__pending {
            display: flex;
            gap: 15px;

            &__deny {
              box-shadow: var(--box-shadow);
            }

            &__accept {
              box-shadow: var(--box-shadow);
            }
          }
        }
      }
    }
  }

  &__empty-div {
    flex: 1;
  }
}