.invitation {
  display: flex;
  height: 100%;
  
  &__back-btn {
    flex: 1;
  }

  &__content {
    flex: 2;
    display: flex;
    gap: 30px;
    flex-direction: column;
    max-width: 800px;

    span {
      padding-top: calc(var(--spacing-unit) / 2);
    }

    &__header {
      display: flex;
      justify-content: space-between;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-unit);

      &__invit {
        display: flex;
        align-items: center;
        padding: calc(var(--spacing-unit) / 1.3);
        border-left: 2px solid var(--color-secondary);
        box-shadow: var(--box-shadow);
        height: 70px;


        &__text {
          display: flex;
          flex-direction: column;
          width: 60%;
          margin-left: var(--spacing-unit);

          span {
            padding: 0;
          }

          &__invited-by {
            font-size: 0.9rem;
          }

          &__invited-status-D {
            font-size: 0.8rem;
            color: var(--color-high);
          }

          &__invited-status-A {
            font-size: 0.8rem;
            color: var(--color-success);
          }

          &__invited-status-W {
            font-size: 0.8rem;
          }
        }

        &__button {
          margin-left: auto;

          &__pending {
            display: flex;
            gap: 15px;
            
            &__deny {
              box-shadow: var(--box-shadow);
            }

            &__accept {
              box-shadow: var(--box-shadow);
            }
          }
        }
      }
    }


  }

  &__empty-div {
    flex: 1;
  }
}