.invitation {
  display: flex;
  height: 100%;
  
  &__back-btn {
    flex: 1;
  }

  &__content {
    flex: 2;
    display: flex;
    flex-direction: column;
    max-width: 800px;

    span {
      padding-top: calc(var(--spacing-unit) / 2);
    }


  }

  &__empty-div {
    flex: 1;
  }
}