.organization-selector {
  position: relative;
  width: 450px;
  padding: calc(var(--spacing-unit) * 1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: calc(var(--spacing-unit) * 2);

  &__title {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing-unit) / 2);
    h2 {
      margin: 0;
    }
  }

  &__success {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(var(--spacing-unit) * 2);

    background-color: var(--color-white);
    font-weight: bold;

    &__image {
      width: 130px;
      height: 130px;
    }

    &__text {
      max-width: 250px;
      text-align: center;
    }
  }
}
