@use "/src/styles/mixins.scss";

.user-subscriptions {
  &__header {
    margin-top: var(--spacing-unit);
    display: flex;
    justify-content: space-between;
    gap: calc(var(--spacing-unit) * 6);

    &__start {
      max-width: 450px;

      h1 {
        margin-top: 0;
      }

      .bimdata-dropdown-list {
        width: 380px;

        .organization-count {
          min-width: 20px;
          height: 20px;
          border-radius: 3px;
          font-weight: bold;
          background-color: var(--color-primary);
          color: var(--color-white);
        }

        &:deep(.bimdata-dropdown-list__content) {
          width: 100%;
          background-color: var(--color-white);
        }
      }
    }

    &__end {
      flex-grow: 1;
    }
  }

  &__content {
    margin-top: calc(var(--spacing-unit) * 3 / 2);

    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--spacing-unit) * 3);

    .billings-table,
    .invoices-table {
      flex: 1;
    }
  }
}

@include mixins.media-breakpoint-down(xxl) {
  .user-subscriptions {
    &__content {
      .billings-table,
      .invoices-table {
        flex: unset;
        width: 100%;
      }
    }
  }
}

@include mixins.media-breakpoint-down(xl) {
  .user-subscriptions {
    &__header {
      flex-direction: column;
    }
  }
}
