.user-subscriptions {
  header {
    h1 {
      margin-top: 0;
      font-family: "robotobold";
    }
    .bimdata-dropdown-list {
      width: 391px;
      .number-organizations {
        width: 25px;
        height: 25px;
        background-color: var(--color-primary);
        color: var(--color-white);
        border-radius: 3px;
        font-weight: bold;
      }
      &::v-deep(.bimdata-dropdown-list__content) {
        width: 100%;
      }
    }
  }
  &__content {
    & > .flex {
      flex-wrap: wrap;
      gap: 36px;
    }
    &__billing,
    &__invoices,
    &__plans {
      flex: 1;
    }
    &__billing {
      &::v-deep(.bimdata-card__empty) {
        height: 337px;
      }
    }
  }
}
