.user-subscriptions {
  &__header {
    margin-top: var(--spacing-unit);
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-unit);

    &__left {
      h1 {
        margin-top: 0;
        font-family: "robotobold";
      }

      .bimdata-dropdown-list {
        width: 380px;

        .number-organizations {
          width: 24px;
          height: 24px;
          border-radius: 3px;
          font-weight: bold;
          background-color: var(--color-primary);
          color: var(--color-white);
        }

        &:deep(.bimdata-dropdown-list__content) {
          width: 100%;
          background-color: var(--color-white);
        }
      }
    }
  }

  &__content {
    & > .flex {
      flex-wrap: wrap;
      gap: calc(var(--spacing-unit) * 3);
    }

    .billings-table,
    .invoices-table {
      flex: 1;
    }
  }
}
