.storage-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--spacing-unit) * 3);
  padding: calc(var(--spacing-unit) * 3) calc(var(--spacing-unit) * 4);

  &__actual,
  &__new {
    width: 100%;
  }
}
