.address-input {
  position: relative;
  display: inline-block;

  &__suggestions {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: calc(var(--spacing-unit) / 2);
    padding: calc(var(--spacing-unit) / 2) 0;
    border-radius: 2px;
    box-shadow: var(--box-shadow);
    background-color: var(--color-white);

    &__item {
      display: flex;
      align-items: center;
      gap: calc(var(--spacing-unit) / 2);
      padding: var(--spacing-unit);
      cursor: pointer;

      &.hovered,
      &:hover {
        background-color: var(--color-silver-light);
      }

      &__icon {
        width: 16px;
        height: 16px;
        color: var(--color-primary);
      }
    }
  }
}
