.folder-access-manager {
  padding: var(--spacing-unit);
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing-unit) * 3 / 2);

  &__title {
    display: flex;
    align-items: center;
    gap: var(--spacing-unit);

    &__text {
      flex-grow: 1;
      font-weight: bold;
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-unit);
    padding-bottom: var(--spacing-unit);
    border-bottom: 2px solid var(--color-silver-light);

    &__search {
      font-size: 1rem;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-unit);

    &__head {
      display: flex;
      align-items: center;
      gap: calc(var(--spacing-unit) / 2);
      color: var(--color-granite-light);

      &--name {
        flex-grow: 1;
      }

      &--rights {
        width: 150px;
      }

      &--members {
        width: 100px;
      }
    }
  }
}
