.project-models-manager {
  &.bimdata-card:deep() > .bimdata-card__content {
    height: calc(100% - 35px);
    padding: $spacing-unit;
  }

  &__table-container {
    max-height: calc(100% - 80px);
    margin-top: $spacing-unit * 2;
    padding: $spacing-unit 0;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
