.language-selector {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 0 calc(var(--spacing-unit) / 2);
  background-color: var(--color-white);

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--spacing-unit);
    font-weight: bold;

    span {
      margin-left: calc(var(--spacing-unit) / 2);
    }
  }

  &__content {
    --item-size: 32px;

    display: grid;
    grid-template-columns: repeat(auto-fill, var(--item-size));
    justify-content: space-between;
    gap: calc(var(--spacing-unit) / 2);

    &__item {
      cursor: pointer;
      width: var(--item-size);
      height: var(--item-size);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2px;
      text-transform: uppercase;

      &.selected {
        background-color: var(--color-secondary);
      }

      &:hover:not(.selected) {
        background-color: var(--color-silver-light);
      }
    }
  }
}
