.files-paiement-modal {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #2F374A80;

  &__box {
    width: 692px;
    height: 515px;
    margin: auto;
    padding: calc(var(--spacing-unit) * 5); 
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing-unit) * 5);

    &__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: 700;

      span:nth-child(1) {
        font-size: calc(var(--font-size) * 2);
      }

      span:nth-child(2) {
        color: var(--color-granite);
        font-weight: normal;
      }
    }

    &__body {
      display: flex;
      flex-direction: column;
      gap: calc(var(--spacing-unit) * 2); 

      &__content {
        display: flex;
        align-items: center;
        img {
          width: 55px;
          height: 55px;
          box-shadow: var(--box-shadow);
        }
        &__text {
          display: flex;
          flex-direction: column;
          margin-left: var(--spacing-unit);
          span:nth-child(1) {
            font-weight: 500;
            font-size: 16px;
          }
          span:nth-child(2) {
            color: var(--color-granite-light)
          }
        }
        &__data {
          margin-left: auto;
          font-weight: 700;
          font-size: 24px;
        }
      }

      &__sepatator {
        border: 1px solid var(--color-primary)
      }
    }
  }


}