.dashboard-button-tile {
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
  padding: calc(var(--spacing-unit) * 2);
  border-radius: var(--spacing-unit);
  box-shadow: var(--box-shadow);
  background-color: var(--color-white);

  &__title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__number {
    font-size: 3rem;
    font-weight: bold;
  }

  &__text {
    align-self: end;
    font-size: 13px;
    text-transform: uppercase;
    .arrow-icon {
      vertical-align: text-bottom;
    }
  }

  cursor: pointer;
  transition-duration: 0.35s;
  &:hover {
    transform: scale(1.02);
  }

  &.primary {
    background-color: var(--color-primary);
    color: var(--color-white);
  }

  &.secondary {
    background-color: var(--color-secondary);
    color: var(--color-primary);
  }
}
