.app-breadcrumb:deep() {
  display: flex;
  align-items: center;
  height: 32px;

  .breadcrumb-separator {
    width: 0;
    height: calc(100% - var(--spacing-unit));
    margin: 0 var(--spacing-unit);
    border: 0.5px solid var(--color-primary);
  }
}
