.invitation-form {
  display: flex;
  flex-wrap: wrap;
  padding: 0 $spacing-unit/2;
  font-size: 1rem;
  background-color: $color-white;

  &__input {
    display: flex;
    align-items: flex-start;
    gap: $spacing-unit;
    width: 100%;
    margin-bottom: $spacing-unit;

    &__email {
      flex-grow: 1;
    }

    &__role:deep() {
      width: 180px;
      height: 33px;
      color: $color-primary;
      label {
        top: -20px !important;
        color: $color-tertiary-dark !important;
      }
    }
  }

  &__btn-cancel {
    margin-left: auto;
  }

  &__btn-submit {
    margin-left: $spacing-unit;
  }
}
