.invitation-form {
  display: flex;
  flex-wrap: wrap;
  padding: 0 $spacing-unit/2;

  &__input {
    width: 100%;
    margin: 0;
    margin-bottom: $spacing-unit;
  }

  &__btn-cancel {
    margin-left: auto;
  }

  &__btn-submit {
    margin-left: $spacing-unit;
  }
}
