.project-status-badge {
  min-width: 46px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 calc(var(--spacing-unit) / 2);
  color: var(--color-white);
  border-radius: 50px;

  &--new {
    background-color: var(--color-primary);
  }

  &--active {
    background-color: var(--color-success);
  }

  &--inactive {
    background-color: var(--color-silver-dark);
  }

  &--paused {
    background-color: var(--color-silver-dark);
  }
}
