.folder-selector {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;

  box-shadow: var(--box-shadow);
  background-color: var(--color-white);
  color: var(--color-primary);

  &__head {
    display: flex;
    align-items: center;
    gap: var(--spacing-unit);
    background-color: var(--color-tertiary-lightest);

    &__path {
      display: block;
      line-height: 1rem;
      font-size: 0.8rem;
      color: var(--color-tertiary-dark);
    }

    &__name {
      display: block;
      font-weight: bold;
    }

    &__btn-close {
      margin-left: auto;
      color: var(--color-tertiary-dark);
    }
  }

  &__body {
    flex-grow: 1;
    overflow-y: auto;
    padding: var(--spacing-unit) calc(var(--spacing-unit) / 2);

    &__item {
      display: flex;
      align-items: center;
      padding: calc(var(--spacing-unit) / 2);
      cursor: pointer;

      &.selected {
        background-color: var(--color-tertiary);
      }

      &:hover:not(.selected) {
        background-color: var(--color-tertiary-lightest);
      }

      &__name {
        flex-grow: 1;
        align-self: flex-end;
        padding: 0 calc(var(--spacing-unit) / 2);
      }
    }

    &__placeholder {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__icon {
        opacity: 0.2;
        }
    }
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 calc(var(--spacing-unit) / 2) var(--spacing-unit) calc(var(--spacing-unit) / 2);

    &__text {
      width: 100%;
      padding: var(--spacing-unit) calc(var(--spacing-unit) / 2);
    }
  }
}
