.bcf-topic {
  min-width: 320px;
  position: relative;
  &__header {
    min-height: 204px;
    box-shadow: var(--box-shadow);
    &__infos {
      height: 32px;
      background-color: var(--color-white);
      &__index {
        padding: 3px;
        min-width: 32px;
        background-color: var(--color-silver);
        color: var(--color-text);
      }
      &__title {
        width: calc(100% - 32px - (12px * 2));
        color: var(--color-primary);
      }
    }
    &__img {
      height: calc(204px - 32px);
      width: 318px;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .no-img-topic {
        width: 120px;
        height: 120px;
      }
      &__status {
        border-radius: 3px;
        position: absolute;
        left: 6px;
        top: 6px;
        &.closed {
          background-color: var(--color-high);
          color: var(--color-white);
        }
        &.opened {
          background-color: var(--color-success);
          color: var(--color-white);
        }
        &.resolved {
          background-color: var(--color-granite-light);
          color: var(--color-white);
        }
      }
    }
  }
  &__content {
    margin-top: 3px;
    min-height: 98px;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    color: var(--color-text);
    font-size: 12px;
  }
  &__side-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    padding: var(--spacing-unit);
    box-shadow: var(--box-shadow);
    background-color: var(--color-white);
    z-index: 999;
  }
}
