.spaces-view {
  padding: $spacing-unit*2;

  .loader {
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    transform: scale(3);
  }

  .sub-header {
    display: flex;
    align-items: center;

    &--left {
      margin-right: auto;
      display: flex;
    }

    &--center {
      margin: 0 auto;
      display: flex;

      .bimdata-search-bar {
        background-color: $color-white;
      }
    }

    &--right {
      margin-left: auto;
      display: flex;

      .bimdata-btn {
        margin-left: $spacing-unit;
      }
    }

  }

  .spaces-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 215px);
    justify-content: space-between;
    gap: $spacing-unit*3 $spacing-unit*2;
    padding: $spacing-unit*2 0;
  }
}
