.spaces-view {
  padding: 0 $spacing-unit*2;

  .loader {
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    transform: scale(3);
  }

  .sub-header {
    display: flex;
    align-items: center;
    padding: $spacing-unit/2 $spacing-unit*2;

    > * {
      margin: 0 $spacing-unit/2;
    }

    &__search-input {
      margin-left: auto;
      background-color: $color-white;
    }

    &__sort-btn {
      margin-left: auto;
    }
  }

  .space-list {
    display: flex;
    flex-wrap: wrap;
  }
}
