.project-board {
  display: grid;
  grid-template-rows: 32px 1fr;
  min-height: 100%;

  &__header:deep() {
    .bimdata-tabs__container__tab.active {
      background-color: transparent;
    }
  }

  &__body {
    display: grid;
    padding: $spacing-unit * 2 0;
  }
}
