.project-board {
  display: grid;
  grid-template-rows: 32px calc(100% - 32px);
  min-height: 100%;

  &__banner {
    position: absolute;
    top: 0;
    left: 0;
  }

  // Add top padding to header when banner is displayed
  &__banner.visible + &__header {
    padding-top: var(--spacing-unit);
  }

  &__header {
    &__actions {
      display: flex;
      align-items: center;
      gap: var(--spacing-unit);
    }

    &:deep() {
      .bimdata-tabs__container__tab.active {
        background-color: rgba(47, 55, 74, 0.1);
      }

      .bimdata-tabs__container__tab:hover {
        background-color: rgba(47, 55, 74, 0.05);
      }
    }

    .beta-badge {
      height: 18px;
      margin-left: 6px;
      padding: 2px 7px;
      border-radius: 9px;
      font-size: 10px;
      font-weight: bold;
      background-color: var(--color-secondary);
      color: var(--color-primary);
    }
  }

  &__body {
    padding: calc(var(--spacing-unit) * 2) 0 0;
  }
}
