.responsive-grid {
  display: grid;
  justify-content: space-between;
  row-gap: calc(var(--spacing-unit) * 3);
  column-gap: calc(var(--spacing-unit) * 3);
  padding: calc(var(--spacing-unit) * 2) 0;
}
