.user-menu {
  position: relative;

  .bimdata-dropdown:deep() {
    .bimdata-dropdown__content {
      padding: 0;
    }
  }

  &__btn {
    display: grid;
    grid-template-columns: 36px auto;
    grid-template-rows: 14px 14px;
    align-items: center;
    gap: 2px 4px;
    padding: $spacing-unit/2;
    text-align: left;

    &__picture {
      $size: 34px;

      grid-row: 1 / span 2;
      display: flex;
      align-items: center;
      justify-content: center;
      width: $size;
      height: $size;
      border-radius: 50%;
      background-color: $color-primary;
      color: $color-white;
    }
    &__fullname {
      font-weight: bold;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: $spacing-unit/2;
    width: 100%;
    padding: $spacing-unit/2;
    padding-top: $spacing-unit * 2;
    font-size: 1rem;
  }
}
