.pro-plan-info {
  height: 100%;
  padding: calc(var(--spacing-unit) * 3) 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--spacing-unit) * 2);

  &__heading {
    width: 300px;
  }

  &__middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-unit);
  }

  &__title,
  &__sub-title {
    margin: 0;
  }

  &__price {
    .value {
      font-size: 40px;
      font-weight: bold;
    }
    .unit {
      color: var(--color-tertiary-dark);
    }
  }

  &__bullets {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing-unit) / 2);

    &__head {
      margin-bottom: calc(var(--spacing-unit) / 2);
      &::after {
        content: ":";
      }
    }

    &__bullet {
      display: flex;
      align-items: center;
      gap: var(--spacing-unit);
    }
  }
}
