.breadcrumb-selector {
  position: relative;

  &__header {
    padding: $spacing-unit/2;
    cursor: pointer;

    &__icon {
      margin-left: $spacing-unit/2;
      margin-bottom: 1px;
      vertical-align: bottom;
    }
  }

  &__list {
    position: absolute;
    z-index: 1;
    width: 220px;
    max-height: 360px;
    margin-top: $spacing-unit/2;
    padding-bottom: $spacing-unit/2;
    border-radius: 4px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: $color-white;
    overflow-x: hidden;
    overflow-y: auto;

    .bimdata-search-bar {
      margin: 8px;
      background-color: $color-tertiary-lightest;
      &.focus {
        background-color: $color-white;
      }
    }

    &__item {
      padding: 8px;
      &:hover {
        cursor: pointer;
        background-color: $color-tertiary-lightest;
      }
    }
  }
}
