.breadcrumb-selector {
  position: relative;

  &__header {
    padding: calc(var(--spacing-unit) / 2);
    cursor: pointer;
    display: flex;
    align-items: center;

    &__text {
      flex-grow: 1;
      max-width: 120px;
    }

    &__icon {
      min-width: 16px;
    }
  }

  &__list {
    position: absolute;
    z-index: 1;
    width: 220px;
    max-height: 360px;
    margin-top: calc(var(--spacing-unit) / 2);
    padding-bottom: calc(var(--spacing-unit) / 2);
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    background-color: var(--color-white);
    overflow-x: hidden;
    overflow-y: auto;

    .bimdata-search-bar {
      margin: 8px;
      background-color: var(--color-silver-light);
      &.focus {
        background-color: var(--color-white);
      }
    }

    &__item {
      padding: 8px;
      &:hover {
        cursor: pointer;
        background-color: var(--color-silver-light);
      }
    }
  }
}
