.breadcrumb-selector {
  position: relative;

  &__header {
    padding: calc(var(--spacing-unit) / 2);
    cursor: pointer;

    &__icon {
      margin-left: calc(var(--spacing-unit) / 2);
      margin-bottom: 1px;
      vertical-align: bottom;
    }
  }

  &__list {
    position: absolute;
    z-index: 1;
    width: 220px;
    max-height: 360px;
    margin-top: calc(var(--spacing-unit) / 2);
    padding-bottom: calc(var(--spacing-unit) / 2);
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    background-color: var(--color-white);
    overflow-x: hidden;
    overflow-y: auto;

    .bimdata-search-bar {
      margin: 8px;
      background-color: var(--color-tertiary-lightest);
      &.focus {
        background-color: var(--color-white);
      }
    }

    &__item {
      padding: 8px;
      &:hover {
        cursor: pointer;
        background-color: var(--color-tertiary-lightest);
      }
    }
  }
}
