.file-upload-card {
  display: flex;
  align-items: center;
  gap: var(--spacing-unit);
  height: 72px;
  padding: var(--spacing-unit);
  background-color: var(--color-white);

  &.condensed {
    height: 44px;
    font-size: 0.8rem;
  }

  &.failed {
    border: 2px solid var(--color-high);
    background-color: #fff2f2;
  }

  &--center {
    flex-grow: 1;
  }

  &__info {
    color: var(--color-granite-light);

    &__file-name {
      margin-bottom: calc(var(--spacing-unit) / 2);
    }

    &__progress-bar {
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--color-silver);

      .progress-level {
        height: 100%;
        border-radius: 2px;
        background-color: var(--color-primary);
      }
    }

    &__upload-data {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: calc(var(--spacing-unit) / 2);
      font-style: italic;

      .message {
        &::before {
          content: "-";
          margin-right: calc(var(--spacing-unit) / 3);
          color: var(--color-granite-light);
        }
        margin-left: calc(var(--spacing-unit) / 3);
        font-weight: bold;
        color: var(--color-high);
      }
    }
  }

  &__btn-cancel {
    border: 1px solid var(--color-granite-light);
    color: var(--color-granite-light);
    transform: scale(0.8);
  }
}
