name: Platform dev closed

on:
  pull_request:
    types:
      - closed

env:
  app: platform_dev

jobs:
  remove_app_and_deploy:
    runs-on: [self-hosted, common]
    steps:
      - name: Login to BIMData Docker Registry
        uses: docker/login-action@v2
        with:
          registry: docker-registry.bimdata.io
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}
      - name: Define branch_name var
        id: branch
        run: |
          echo "name=$(echo ${GITHUB_HEAD_REF##*/} | tr ' .-' _ | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT
      - name: Delete app deployment
        env:
          BRANCH_NAME: ${{ steps.branch.outputs.name }}
        run: |
          docker run \
            --pull always \
            --rm \
            -e ANSIBLE_VAULT_PASSWD="${{ secrets.ANSIBLE_VAULT_PASSWD }}" \
            docker-registry.bimdata.io/bimdata/deployment:latest \
            ansible-playbook \
              -u deploy \
              -i inventories/staging \
              --tags platform_dev \
              --extra-vars "branch_name=${BRANCH_NAME} ansible_ssh_private_key_file=./files/deploy_rsa"\
              undeploy.yml
