name: Platform-next

on:
  push:
  repository_dispatch:
    types: [semantic-release]

env:
  app: platform

jobs:
  viewer-update:
    runs-on: [self-hosted, common]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: "16"
      - name: Wait for npm package
        id: viewer-install
        if: github.event.client_payload.ref
        timeout-minutes: 2
        run: |
          while ! npm install @bimdata/viewer@${{ github.event.client_payload.viewer-version }} --save; do
            sleep 5
          done
          GITDIFF=$(git diff -- package-lock.json) && echo "::set-output name=gitdiff::$GITDIFF"
      - name: Commit diff
        if: steps.viewer-install.outputs.gitdiff
        uses: EndBug/add-and-commit@v7
        with:
          add: "package-lock.json package.json"
          message: "chore: bump @bimdata/viewer@${{ github.event.client_payload.viewer-version }} from Github Actions [skip ci]"

  build-and-push:
    runs-on: [self-hosted, common]
    needs: viewer-update
    if: contains('
      refs/heads/develop
      refs/heads/release
      refs/heads/master
      refs/heads/main'
      , github.ref)
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
      - name: Login to BIMData Docker Registry
        uses: docker/login-action@v1
        with:
          registry: docker-registry.bimdata.io
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}
      - id: tag
        name: Get docker tag
        uses: bimdata/actions/get-docker-tag@v1
        with:
          branch: ${{ github.ref }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: etc/Dockerfile
          push: true
          pull: true
          tags: |
            docker-registry.bimdata.io/bimdata/${{ env.app }}:${{ github.sha }}
            docker-registry.bimdata.io/bimdata/${{ env.app }}:${{ steps.tag.outputs.tag }}

  e2e-tests:
    runs-on: [self-hosted, testendtoend]
    needs: build-and-push
    steps:
      - uses: actions/checkout@v3
        with:
          repository: bimdata/bimdata-test
          ref: master
          token: ${{ secrets.REPOS_TOKEN }}
      - id: tag
        name: Get docker tag
        uses: bimdata/actions/get-docker-tag@v1
        with:
          branch: ${{ github.ref }}
      - name: Run e2e tests
        uses: ./end-to-end/
        with:
          docker_tag: ${{ steps.tag.outputs.tag }}
          ref: ${{ github.ref }}
          github_token: ${{ secrets.REPOS_TOKEN }}
          vault_passwd: ${{ secrets.VAULT_PASSWD }}

  deploy:
    runs-on: [self-hosted, common]
    needs: e2e-tests
    steps:
      - name: Login to BIMData Docker Registry
        uses: docker/login-action@v1
        with:
          registry: docker-registry.bimdata.io
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}
      - id: tag
        name: Get docker tag
        uses: bimdata/actions/get-docker-tag@v1
        with:
          branch: ${{ github.ref }}
      - name: Deploy on ${{ steps.tag.outputs.tag }}
        uses: bimdata/actions/deployment@v1
        with:
          inventory: ${{ steps.tag.outputs.tag }}
          app: ${{ env.app }}
          vault-pass: ${{ secrets.ANSIBLE_VAULT_PASSWD }}
