.organization-form-success {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(var(--spacing-unit) * 3);
  padding-top: calc(var(--spacing-unit) * 2);

  &__title {
    width: 75%;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
  }
}
