.subscription-pro {
  height: 100%;

  &__title {
    height: 32px;
    margin: 0;
    white-space: nowrap;
  }

  &__content {
    padding: calc(var(--spacing-unit) * 3) 0;

    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing-unit) * 3);

    &__text {
      max-width: 500px;
      margin: auto;
      text-align: center;
    }

    &__head {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: calc(var(--spacing-unit) * 2);
    }

    &__body {
      min-height: 780px;

      display: flex;
      justify-content: center;
      gap: calc(var(--spacing-unit) * 3);

      &__start,
      &__center,
      &__end {
        box-shadow: var(--box-shadow);
        background-color: var(--color-white);
      }

      &__start {
        width: 400px;
      }

      &__center {
        width: 600px;
      }

      &__end {
        width: 400px;
      }
    }
  }
}

@include media-breakpoint-down(xl) {
  .subscription-pro {
    &__content {
      &__body {
        min-height: unset;
        display: grid;
        grid-template-rows: 240px 240px 780px;
        grid-template-areas:
          "start"
          "end"
          "center"
        ;

        &__start {
          grid-area: start;
          width: 100%;
        }
  
        &__center {
          grid-area: center;
          width: 100%;
        }
  
        &__end {
          grid-area: end;
          width: 100%;
        }
      }
    }
  }
}
