.delete-loader {
  // this property aims to place delete loader over the AppHeaderMenu component
  z-index: 101;
}

.profile-settings {
  display: flex;
  height: 100%;
  
  &__back-btn {
    flex: 1;
    margin-bottom: auto;
  }

  &__container {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-unit);
    max-width: 400px;

    &__content {
      height: 100%;
      display: flex;
      justify-content: center;
      position: relative;

      :nth-child(1) {
        position: absolute;
        margin-top: 100px;
        transform: scale(2);
      }

      iframe {
        z-index: 1;
        height: 100%;
        width: 100%;
        border: none;
      }
    }
  }

  &__ghost-element {
    flex: 1;
  }
}